Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

chore(release): @ginjou/with-supabase v0.1.0-beta.11
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.18
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/svelte v0.1.0-beta.2
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Due: none

chore(release): @ginjou/with-rest-api v0.1.0-beta.9
  packages/with-rest-api/CHANGELOG.md
  packages/with-rest-api/package.json
Due: none

chore(release): @ginjou/with-directus v0.1.0-beta.14
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/with-vue-router v0.1.0-beta.10
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.9
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none

chore(release): @ginjou/with-svelte-spa-router v0.1.0-beta.2
  packages/with-svelte-spa-router/CHANGELOG.md
  packages/with-svelte-spa-router/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.16
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

wip
  packages/core/src/query/get-many-by-one.ts
  packages/svelte/src/query/get-many-by-one.svelte.ts
  packages/vue/src/query/get-many-by-one.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/select.ts
  packages/svelte/src/controller/select.svelte.ts
  packages/vue/src/controller/select.ts
  packages/vue/src/controller/show.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/svelte/src/query/get-many-by-one.svelte.test.ts
Due: none

fix(storybook): post types
  stories/vue/src/CreateMany.vue
  stories/vue/src/CreateOne.vue
  stories/vue/src/DeleteMany.vue
  stories/vue/src/DeleteOne.vue
  stories/vue/src/FormCreate.vue
  stories/vue/src/FormEdit.vue
  stories/vue/src/GetList.vue
  stories/vue/src/GetOne.vue
  stories/vue/src/InfiniteListPagination.vue
  stories/vue/src/ListFilters.vue
  stories/vue/src/ListFiltersWithCustomSyncRoute.vue
  stories/vue/src/ListPagination.vue
  stories/vue/src/ListSorters.vue
  stories/vue/src/ListSortersWithCustomSyncRoute.vue
  stories/vue/src/SelectBasic.vue
  stories/vue/src/ShowBasic.vue
  stories/vue/src/UpdateMany.vue
  stories/vue/src/UpdateOne.vue
Due: none

wip
  stories/svelte/src/Select.stories.ts
  stories/svelte/src/SelectMultiple.svelte
  stories/svelte/src/views/SelectMultipleContent.svelte
  stories/vue/src/Select.stories.ts
  stories/vue/src/SelectMultiple.vue
  stories/vue/src/utils/wrapper.ts
Due: none

wip
  packages/svelte/src/query/get-many-by-one.svelte.test.ts
  packages/vue/src/query/get-many-by-one.test.ts
Due: @ginjou/vue

wip
  packages/svelte/src/controller/select.svelte.test.ts
  packages/vue/src/controller/select.test.ts
Due: @ginjou/vue

feat: dynamic meta for useGetManyByOne (#128)
  packages/core/src/query/get-many-by-one.ts
  packages/svelte/src/query/get-many-by-one.svelte.test.ts
  packages/svelte/src/query/get-many-by-one.svelte.ts
  packages/vue/src/query/get-many-by-one.test.ts
  packages/vue/src/query/get-many-by-one.ts
Due: @ginjou/core, @ginjou/vue

feat: sync route compact
  packages/sync-route-compact/README.md
  packages/sync-route-compact/package.json
  packages/sync-route-compact/src/index.test.ts
  packages/sync-route-compact/src/index.ts
  packages/sync-route-compact/tsconfig.app.json
  packages/sync-route-compact/tsconfig.json
  packages/sync-route-compact/tsconfig.node.json
  packages/sync-route-compact/tsconfig.test.json
  packages/sync-route-compact/tsconfig.types.json
  packages/sync-route-compact/tsdown.config.ts
  packages/sync-route-compact/vitest.config.ts
  pnpm-lock.yaml
Due: none

wip
  packages/sync-route-compact/package.json
  packages/sync-route-compact/src/index.test.ts
  packages/sync-route-compact/src/index.ts
  pnpm-lock.yaml
Due: none

feat: setup sync-route in controller
  packages/core/src/controller/controller.ts
  packages/core/src/controller/index.ts
  packages/core/src/controller/list.ts
  packages/core/src/controller/sync-route.test.ts
  packages/core/src/controller/sync-route.ts
  packages/svelte/src/controller/infinite-list.svelte.ts
  packages/svelte/src/controller/list.svelte.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
Due: @ginjou/core, @ginjou/vue

wip
  AGENTS.md
  packages/core/src/controller/list.ts
  packages/core/src/query/fetcher.test.ts
  packages/core/src/query/fetcher.ts
  packages/sync-route-compact/src/filters.ts
  packages/sync-route-compact/src/index.ts
  packages/sync-route-compact/src/sorters.ts
  packages/sync-route-compact/src/utils.ts
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/utils/filters.ts
  packages/with-supabase/src/fetcher.ts
Due: @ginjou/core

wip
  packages/core/src/controller/list.ts
Due: @ginjou/core

fix(core): compare filters/sorters against matching location values in toRouterGoParams
  packages/core/src/controller/list.test.ts
  packages/core/src/controller/list.ts
Due: @ginjou/core

feat: use GetManyByOne for selected values (#127)
  packages/core/src/controller/select.ts
  packages/svelte/src/controller/select.svelte.test.ts
  packages/svelte/src/controller/select.svelte.ts
  packages/vue/src/controller/select.test.ts
  packages/vue/src/controller/select.ts
  packages/vue/src/controller/show.ts
  stories/svelte/src/Select.stories.ts
  stories/svelte/src/SelectMultiple.svelte
  stories/svelte/src/views/SelectMultipleContent.svelte
  stories/vue/src/Select.stories.ts
  stories/vue/src/SelectMultiple.vue
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/core, @ginjou/vue

feat: setup sync-route in controller (#130)
  packages/core/src/controller/controller.ts
  packages/core/src/controller/index.ts
  packages/core/src/controller/list.ts
  packages/core/src/controller/sync-route.test.ts
  packages/core/src/controller/sync-route.ts
  packages/svelte/src/controller/infinite-list.svelte.ts
  packages/svelte/src/controller/list.svelte.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
Due: @ginjou/core, @ginjou/vue

fix(core): compare filters/sorters against matching location values in toRouterGoParams (#131)
  packages/core/src/controller/list.test.ts
  packages/core/src/controller/list.ts
Due: @ginjou/core

feat: sync route compact (#129)
  AGENTS.md
  packages/core/src/controller/list.ts
  packages/core/src/query/fetcher.test.ts
  packages/core/src/query/fetcher.ts
  packages/sync-route-compact/README.md
  packages/sync-route-compact/package.json
  packages/sync-route-compact/src/filters.ts
  packages/sync-route-compact/src/index.test.ts
  packages/sync-route-compact/src/index.ts
  packages/sync-route-compact/src/sorters.ts
  packages/sync-route-compact/src/utils.ts
  packages/sync-route-compact/tsconfig.app.json
  packages/sync-route-compact/tsconfig.json
  packages/sync-route-compact/tsconfig.node.json
  packages/sync-route-compact/tsconfig.test.json
  packages/sync-route-compact/tsconfig.types.json
  packages/sync-route-compact/tsdown.config.ts
  packages/sync-route-compact/vitest.config.ts
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/utils/filters.ts
  packages/with-supabase/src/fetcher.ts
  pnpm-lock.yaml
Due: @ginjou/core

fix(core): types for sync-route
  packages/core/src/controller/infinite-list.ts
Due: @ginjou/core

chore(sync-route-compact): add release-it config
  packages/sync-route-compact/.release-it.json
Due: none

chore(release): @ginjou/sync-route-compact v0.1.0-beta.1
  packages/sync-route-compact/CHANGELOG.md
  packages/sync-route-compact/package.json
Due: none

chore(release): @ginjou/core v0.1.0-beta.21
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/with-supabase v0.1.0-beta.12
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/with-rest-api v0.1.0-beta.10
  packages/with-rest-api/CHANGELOG.md
  packages/with-rest-api/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.19
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/with-directus v0.1.0-beta.15
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/svelte v0.1.0-beta.3
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Due: none

fix(rest-api): preserve custom body methods
  packages/with-rest-api/src/utils/method.test.ts
  packages/with-rest-api/src/utils/method.ts
Due: none

fix(rest-api): send custom payload in body
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/fetchers.ts
Due: none

fix(vue): read create callbacks reactively
  packages/vue/src/query/create.test.ts
  packages/vue/src/query/create.ts
Due: @ginjou/vue

fix(stories): replace all vue i18n params
  stories/vue/src/utils/wrapper.test.ts
  stories/vue/src/utils/wrapper.ts
Due: none
