Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

chore(release): @ginjou/with-directus v0.1.0-beta.9
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/with-supabase v0.1.0-beta.5
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.11
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/with-rest-api v0.1.0-beta.4
  packages/with-rest-api/CHANGELOG.md
  packages/with-rest-api/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.4
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none

chore(release): @ginjou/with-vue-router v0.1.0-beta.4
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.7
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

chore: update @bouzu/shared
  pnpm-lock.yaml
Due: none

docs: add coverage and CodeRabbit badges to README
  README.md
Due: none

docs: fix markdown link syntax
  README.md
Due: none

test(core): authz.can
  packages/core/src/authz/authz.ts
  packages/core/src/authz/can.test.ts
Due: @ginjou/core

test(core): authz.permissions
  packages/core/src/authz/permissions.test.ts
Due: @ginjou/core

test(core): auth
  packages/core/src/auth/check-error.test.ts
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/auth/invalidate.ts
  packages/core/src/auth/login.test.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.test.ts
  packages/core/src/auth/logout.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/permissions.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.ts
Due: @ginjou/core, @ginjou/vue

test(core): add mock tanstack context
  packages/core/src/auth/check-error.test.ts
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/auth/login.test.ts
  packages/core/src/auth/logout.test.ts
  packages/core/test/tanstack-utils.ts
  packages/core/tsconfig.test.json
Due: @ginjou/core

chore: add benchamrk test
  .github/workflows/test.yml
  package.json
  packages/core/package.json
  packages/core/src/query/aggregrate.bench.ts
  packages/core/tsconfig.test.json
  packages/core/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Due: @ginjou/core

test(core): authz (#81)
  README.md
  packages/core/src/auth/check-error.test.ts
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/auth/invalidate.ts
  packages/core/src/auth/login.test.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.test.ts
  packages/core/src/auth/logout.ts
  packages/core/src/authz/authz.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/permissions.test.ts
  packages/core/src/authz/permissions.ts
  packages/core/test/tanstack-utils.ts
  packages/core/tsconfig.test.json
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.ts
Due: @ginjou/core, @ginjou/vue

fix: codspeed mode
  .github/workflows/test.yml
Due: none

wip
  README.md
  packages/core/src/query/aggregrate.bench.ts
Due: @ginjou/core

fix: benchmark aggregation 10
  packages/core/src/query/aggregrate.bench.ts
Due: @ginjou/core

wip
  .github/workflows/test.yml
Due: none

fix: vitest config
  packages/core/vitest.config.ts
  packages/vue/vitest.config.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/vitest.config.ts
Due: @ginjou/core

refactor: use vitest projects
  package.json
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/vue/package.json
  packages/vue/vitest.config.ts
  turbo.json
  vitest.config.ts
Due: @ginjou/core, @ginjou/vue

chore: specific vitest projects
  vitest.config.ts
Due: none

wip
  vitest.config.ts
Due: none

refactor: tanstak-query split mutation context and mutate result
  packages/core/src/auth/check-error.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/custom.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/custom-mutation.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
  packages/vue/src/query/update-many.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

chore: add benchamrk test (#82)
  .github/workflows/test.yml
  README.md
  package.json
  packages/core/package.json
  packages/core/src/query/aggregrate.bench.ts
  packages/core/tsconfig.test.json
  packages/core/vitest.config.ts
  packages/vue/package.json
  packages/vue/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
  vitest.config.ts
Due: @ginjou/core, @ginjou/vue

refactor: tanstak-query split mutation context and mutate result (#83)
  packages/core/src/auth/check-error.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/custom.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/custom-mutation.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
  packages/vue/src/query/update-many.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

chore: delete codecov config
  codecov.yml
Due: none

chore(ci): not need set directory for codecov
  .github/workflows/test.yml
Due: none

test(core): i18n, notification, utils
  package.json
  packages/core/src/i18n/translate.test.ts
  packages/core/src/notification/notify.test.ts
  packages/core/src/resource/path.ts
  packages/core/src/utils/getter.test.ts
  packages/core/src/utils/sub-value.test.ts
  packages/core/src/utils/sub-value.ts
Due: @ginjou/core

docs: update badges
  README.md
Due: none

refactor: tanstack query enabled function
  packages/core/src/auth/check.ts
  packages/core/src/controller/form.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/core/src/realtime/subscribe.ts
  packages/core/src/utils/query.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/controller/form.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

chore: specific benchmark script
  package.json
Due: none

chore: remove useless var
  packages/core/src/notification/notify.test.ts
Due: @ginjou/core

chore: genreate coverage is not default
  .github/workflows/test.yml
  vitest.config.ts
Due: none

wip
  packages/core/src/auth/check.test.ts
  packages/core/src/realtime/subscribe.ts
Due: @ginjou/core

wip
  package.json
Due: none
