Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

chore(nuxt): add post edit page
  packages/nuxt/playground/ginjou/fetcher.ts
  packages/nuxt/playground/pages/index/posts/[id]/edit.vue
  packages/nuxt/playground/pages/index/posts/[id]/index.vue
Due: none

wip
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/pages/index/posts/[id]/edit.vue
Due: none

chore: add edit
  packages/nuxt/playground/ginjou/fetcher.ts
  packages/nuxt/playground/ginjou/resource.ts
  packages/nuxt/playground/pages/index/posts/[id]/edit.vue
Due: none

chore: change config
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/vue/package.json
  packages/vue/vitest.config.ts
Due: @ginjou/core, @ginjou/vue

chore(ci): use aa900031/github-actions/setup-node
  .github/actions/setup/action.yml
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat(nuxt): add async composable functions (#40)
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/nuxt/nuxt.config.ts
  packages/nuxt/playground/ginjou/fetcher.ts
  packages/nuxt/playground/ginjou/resource.ts
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/pages/index/posts/[id].vue
  packages/nuxt/playground/pages/index/posts/[id]/edit.vue
  packages/nuxt/playground/pages/index/posts/[id]/index.vue
  packages/nuxt/playground/pages/index/posts/index.vue
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/nuxt/src/imports/tanstack-query.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/composables/form.ts
  packages/nuxt/src/runtime/composables/get-infinite-list.ts
  packages/nuxt/src/runtime/composables/get-list.ts
  packages/nuxt/src/runtime/composables/get-many.ts
  packages/nuxt/src/runtime/composables/get-one.ts
  packages/nuxt/src/runtime/composables/list.ts
  packages/nuxt/src/runtime/composables/select.ts
  packages/nuxt/src/runtime/composables/show.ts
  packages/nuxt/src/runtime/utils/async.ts
  packages/nuxt/src/utils/import.ts
  packages/vue/package.json
  packages/vue/src/controller/form.ts
  packages/vue/vitest.config.ts
Due: @ginjou/core, @ginjou/vue

chore: use @aa900031/releast-it-config
  .tool-versions
  internals/release-it-config/index.cjs
  internals/release-it-config/package.json
  package.json
  packages/core/.release-it.cjs
  packages/core/.release-it.json
  packages/core/package.json
  packages/nuxt/.release-it.cjs
  packages/nuxt/.release-it.json
  packages/vue/.release-it.cjs
  packages/vue/.release-it.json
  packages/vue/package.json
  packages/with-directus/.release-it.cjs
  packages/with-directus/.release-it.json
  packages/with-directus/package.json
  packages/with-rest-api/.release-it.cjs
  packages/with-rest-api/.release-it.json
  packages/with-rest-api/package.json
  packages/with-supabase/.release-it.cjs
  packages/with-supabase/.release-it.json
  packages/with-supabase/package.json
  packages/with-vue-i18n/.release-it.cjs
  packages/with-vue-i18n/.release-it.json
  packages/with-vue-i18n/package.json
  packages/with-vue-router/.release-it.cjs
  packages/with-vue-router/.release-it.json
  packages/with-vue-router/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @ginjou/core, @ginjou/vue

wip
  stories/vue/src/Auth.stories.ts
  stories/vue/src/Auth.vue
  stories/vue/src/AuthCheckError.stories.ts
  stories/vue/src/AuthCheckError.vue
  stories/vue/src/AuthGetIdentity.stories.ts
  stories/vue/src/AuthPermissions.stories.ts
  stories/vue/src/Delete.stories.ts
  stories/vue/src/Delete.vue
  stories/vue/src/DeleteMany.vue
  stories/vue/src/I18nLocale.stories.ts
  stories/vue/src/I18nLocale.vue
  stories/vue/src/utils/msw.ts
Due: none

chore: remove netlify
  stories/vue/netlify.toml
Due: none

chore: upgrade LICENSE
  LICENSE
Due: none

refactor(storybook): composition instance
  package.json
  pnpm-lock.yaml
  stories/root/.storybook/main.ts
  stories/root/.storybook/manager.ts
  stories/root/.storybook/theme.ts
  stories/root/package.json
  stories/root/src/0-introduction.mdx
  stories/root/src/1-getting-started.mdx
  stories/root/tsconfig.app.json
  stories/root/tsconfig.json
  stories/root/tsconfig.node.json
  stories/root/tsconfig.test.json
  stories/root/vite.config.ts
  stories/vue/package.json
  stories/vue/src/utils/msw.ts
  turbo.json
Due: none

fix: msw service worker
  stories/root/.storybook/main.ts
  stories/vue/src/utils/msw.ts
Due: none

test(storybook-vue): add test (#49)
  stories/vue/netlify.toml
  stories/vue/src/Auth.stories.ts
  stories/vue/src/Auth.vue
  stories/vue/src/AuthCheckError.stories.ts
  stories/vue/src/AuthCheckError.vue
  stories/vue/src/AuthGetIdentity.stories.ts
  stories/vue/src/AuthPermissions.stories.ts
  stories/vue/src/Delete.stories.ts
  stories/vue/src/Delete.vue
  stories/vue/src/DeleteMany.vue
  stories/vue/src/I18nLocale.stories.ts
  stories/vue/src/I18nLocale.vue
  stories/vue/src/utils/msw.ts
Due: none

chore(storybook): use composition (#51)
  package.json
  pnpm-lock.yaml
  stories/root/.storybook/main.ts
  stories/root/.storybook/manager.ts
  stories/root/.storybook/theme.ts
  stories/root/package.json
  stories/root/src/0-introduction.mdx
  stories/root/src/1-getting-started.mdx
  stories/root/tsconfig.app.json
  stories/root/tsconfig.json
  stories/root/tsconfig.node.json
  stories/root/tsconfig.test.json
  stories/root/vite.config.ts
  stories/vue/package.json
  stories/vue/src/utils/msw.ts
  turbo.json
Due: none

chore(desp): use release-it 19
  package.json
  pnpm-lock.yaml
Due: none

chore(release): @ginjou/core v0.1.0-beta.5
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/vue v0.1.0-beta.7
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/with-rest-api v0.1.0-beta.3
  packages/with-rest-api/CHANGELOG.md
  packages/with-rest-api/package.json
Due: none

chore(release): @ginjou/with-supabase v0.1.0-beta.3
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/with-directus v0.1.0-beta.8
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.2
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none

chore(release): @ginjou/with-vue-router v0.1.0-beta.2
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.3
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

feat: add infinite list
  packages/core/src/controller/index.ts
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  packages/core/src/query/get-infinite-list.ts
  packages/vue/src/controller/index.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/query/get-infinite-list.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/index.ts
  packages/vue/src/controller/index.ts
  packages/vue/src/controller/infinite-list.ts
Due: @ginjou/core, @ginjou/vue

chore: storybook
  packages/core/src/controller/infinite-list.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/InfiniteListPagination.vue
Due: @ginjou/core

feat: remove sync current page to route
  packages/core/src/controller/infinite-list.ts
  packages/vue/src/controller/infinite-list.ts
Due: @ginjou/core, @ginjou/vue

feat(nuxt): add useInfiniteList to auto import
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/nuxt/src/runtime/composables/infinite-list.ts
Due: none

feat: infinite list (#53)
  packages/core/src/controller/index.ts
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  packages/core/src/query/get-infinite-list.ts
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/nuxt/src/runtime/composables/infinite-list.ts
  packages/vue/src/controller/index.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/query/get-infinite-list.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/InfiniteListPagination.vue
Due: @ginjou/core, @ginjou/vue

feat: add placeholder data func
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-one.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

feat: add location parser
  packages/core/src/controller/list.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
  packages/vue/src/router/location.ts
Due: @ginjou/core, @ginjou/vue

chore: add list pagination without resource
  packages/core/src/controller/list.ts
  packages/vue/src/controller/list.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/ListPaginationWithoutResource.vue
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/core, @ginjou/vue

chore: add infinite list w/o resource
  packages/core/src/controller/infinite-list.ts
  packages/vue/src/controller/infinite-list.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/InfiniteListPaginationWithoutResource.vue
  stories/vue/src/List.stories.ts
Due: @ginjou/core, @ginjou/vue

fix: table structure
  stories/vue/src/InfiniteListPagination.vue
  stories/vue/src/InfiniteListPaginationWithoutResource.vue
Due: none

feat: add placeholder data func (#55)
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-one.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

refactor: not provide params from resource
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  packages/core/src/resource/parse.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
Due: @ginjou/core, @ginjou/vue

refactor: remove xxx without resource
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/InfiniteListPaginationWithoutResource.vue
  stories/vue/src/List.stories.ts
  stories/vue/src/ListPaginationWithoutResource.vue
Due: none

refactor: decoupling router parse in resource (#56)
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  packages/core/src/resource/parse.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
  packages/vue/src/router/location.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/InfiniteListPagination.vue
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/core, @ginjou/vue

feat: sync route with options
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/ListFiltersWithCustomSyncRoute.vue
  stories/vue/src/ListSortersWithCustomSyncRoute.vue
Due: @ginjou/core

refactor(form): move generic params to second
  packages/vue/src/controller/form.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/update.ts
Due: @ginjou/vue

Path conditions:
  @ginjou/core: any of: packages/core/**
  @ginjou/vue: any of: packages/vue/**
