Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

test(core): i18n, notification, utils (#84)
  .github/workflows/test.yml
  package.json
  packages/core/src/i18n/translate.test.ts
  packages/core/src/notification/notify.test.ts
  packages/core/src/resource/path.ts
  packages/core/src/utils/getter.test.ts
  packages/core/src/utils/sub-value.test.ts
  packages/core/src/utils/sub-value.ts
  vitest.config.ts
Due: @ginjou/core

wip
  packages/core/query.d.ts
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/auth/identity.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/permissions.test.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/realtime/subscribe.ts
  packages/core/src/utils/query.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/permissions.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/query/custom.ts
Due: @ginjou/core, @ginjou/vue

test: createQueryEnabledFn
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/permissions.test.ts
  packages/core/src/query/get-infinite-list.test.ts
  packages/core/src/query/get-list.test.ts
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-one.test.ts
  packages/core/src/utils/query.test.ts
Due: @ginjou/core

test: function-based getEnabled
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/permissions.test.ts
  packages/core/src/query/get-infinite-list.test.ts
  packages/core/src/query/get-list.test.ts
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-one.test.ts
Due: @ginjou/core

feat: createQueryEnabledFn in custom
  packages/core/src/query/custom.test.ts
  packages/core/src/query/custom.ts
  packages/vue/src/query/custom.ts
Due: @ginjou/core, @ginjou/vue

fix: types
  packages/core/src/query/custom.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/core/src/utils/query.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

test: createGetNextPageParamFn, createGetPreviousPageParamFn
  packages/core/src/query/get-infinite-list.test.ts
Due: @ginjou/core

refactor: getQuery with queryHash or queryKeyHashFn
  packages/core/src/query/custom.test.ts
  packages/core/src/query/custom.ts
  packages/core/src/query/get-infinite-list.test.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.test.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.test.ts
  packages/core/src/query/get-one.ts
  packages/core/src/utils/query.test.ts
  packages/core/src/utils/query.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

refactor: use generic type for cache.get
  packages/core/src/utils/query.test.ts
  packages/core/src/utils/query.ts
Due: @ginjou/core

refactor: tanstack query enabled function (#85)
  packages/core/query.d.ts
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/auth/identity.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/permissions.test.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/controller/form.ts
  packages/core/src/query/custom.test.ts
  packages/core/src/query/custom.ts
  packages/core/src/query/get-infinite-list.test.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.test.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.test.ts
  packages/core/src/query/get-one.ts
  packages/core/src/realtime/subscribe.ts
  packages/core/src/utils/query.test.ts
  packages/core/src/utils/query.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/controller/form.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

chore(test): remove old options
  packages/vue/test/mock-fetcher.ts
  packages/vue/tsconfig.test.json
Due: @ginjou/vue

feat: authz.access could return Promise
  packages/core/src/authz/authz.ts
Due: @ginjou/core

feat(nuxt): add useCanAccess to auto import
  packages/nuxt/src/imports/ginjou.ts
Due: none

chore(ci): remove release concurrency
  .github/workflows/release.yml
Due: none

chore(release): @ginjou/core v0.1.0-beta.12
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/vue v0.1.0-beta.12
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/nuxt v0.1.0-beta.8
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

refactor(vue): use local provide & inject
  packages/vue/src/auth/auth.ts
  packages/vue/src/authz/authz.ts
  packages/vue/src/i18n/context.ts
  packages/vue/src/notification/context.ts
  packages/vue/src/query/fetchers.ts
  packages/vue/src/query/query-client.ts
  packages/vue/src/realtime/context.ts
  packages/vue/src/resource/context.ts
  packages/vue/src/router/context.ts
Due: @ginjou/vue

refactor(core): fetchers definition types
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/custom.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/fetchers.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-one.ts
  packages/core/src/query/helper.ts
Due: @ginjou/core

wip
  packages/core/src/controller/form.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/fetchers.test.ts
  packages/core/src/query/fetchers.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/index.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/core/src/resource/fetcher-name.test.ts
  packages/core/src/resource/fetcher-name.ts
  packages/core/src/resource/index.ts
Due: @ginjou/core

wip
  AGENTS.md
  packages/core/src/query/update-many.ts
  packages/core/src/resource/identifier.test.ts
Due: @ginjou/core

wip
  packages/core/src/auth/auth.ts
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/helper.ts
  packages/core/src/auth/identity.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/core/src/authz/authz.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/i18n/i18n.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/fetchers.test.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/realtime/publish.ts
  packages/core/src/realtime/realtime.ts
  packages/core/src/realtime/subscribe.ts
  packages/core/src/router/go.ts
  packages/core/src/router/location.ts
  packages/core/src/router/navigate.ts
  packages/core/src/router/resolve.ts
  packages/core/src/router/router.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/check-error.ts
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
  packages/with-vue-i18n/src/i18n.ts
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/core, @ginjou/vue

wip
  AGENTS.md
  packages/core/src/resource/identifier.test.ts
Due: @ginjou/core

wip
  packages/core/src/router/router.ts
  packages/vue/src/router/context.ts
  packages/vue/src/router/location.ts
  packages/with-vue-router/src/router.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/nuxt/playground/ginjou/auth.ts
  packages/nuxt/playground/ginjou/fetcher.ts
  packages/nuxt/playground/pages/index/posts/[id]/index.vue
  packages/nuxt/src/runtime/composables/form.ts
  packages/nuxt/src/runtime/composables/identity.ts
Due: none

chore: improve build cache in turbo
  turbo.json
Due: none

wip
  packages/core/src/auth/helper.ts
Due: @ginjou/core

wip
  packages/with-directus/src/auth.ts
Due: none

wip
  packages/core/src/i18n/i18n.ts
  packages/core/src/query/get-list.ts
  packages/core/src/realtime/realtime.ts
  packages/core/src/realtime/subscribe.ts
  packages/vue/src/realtime/subscribe.ts
Due: @ginjou/core, @ginjou/vue

wip
  stories/vue/src/utils/wrapper.ts
Due: none

wip
  packages/core/package.json
  packages/core/tsconfig.app.json
  packages/core/tsconfig.test.json
  packages/nuxt/package.json
  packages/vue/package.json
  packages/vue/tsconfig.app.json
  packages/vue/tsconfig.json
  packages/vue/tsconfig.test.json
  packages/with-directus/package.json
  packages/with-directus/tsconfig.app.json
  packages/with-directus/tsconfig.json
  packages/with-directus/tsconfig.test.json
  packages/with-rest-api/package.json
  packages/with-rest-api/tsconfig.app.json
  packages/with-rest-api/tsconfig.json
  packages/with-rest-api/tsconfig.test.json
  packages/with-supabase/package.json
  packages/with-supabase/tsconfig.app.json
  packages/with-supabase/tsconfig.json
  packages/with-supabase/tsconfig.test.json
  packages/with-vue-i18n/package.json
  packages/with-vue-i18n/tsconfig.app.json
  packages/with-vue-i18n/tsconfig.json
  packages/with-vue-i18n/tsconfig.test.json
  packages/with-vue-router/package.json
  packages/with-vue-router/tsconfig.app.json
  packages/with-vue-router/tsconfig.json
  packages/with-vue-router/tsconfig.test.json
  pnpm-lock.yaml
Due: @ginjou/core, @ginjou/vue

chore(deps): update pkg: tanstack-query-callbacks
  packages/core/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: @ginjou/core, @ginjou/vue

chore(release): @ginjou/core v0.1.0-beta.13
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/with-supabase v0.1.0-beta.6
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/with-rest-api v0.1.0-beta.5
  packages/with-rest-api/CHANGELOG.md
  packages/with-rest-api/package.json
Due: none

chore(release): @ginjou/with-directus v0.1.0-beta.10
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.13
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

Path conditions:
  @ginjou/core: any of: packages/core/**
  @ginjou/vue: any of: packages/vue/**
