Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

chore: lint format
  packages/core/src/query/create.ts
Due: @ginjou/core

feat: mutation with partial props (#66)
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/core/src/controller/form.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/custom.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/core/src/query/types.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/nuxt/playground/pages/index/posts/index.vue
  packages/vue/src/auth/check-error.ts
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/custom-mutation.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
  packages/vue/src/query/update-many.ts
  packages/vue/src/query/update.ts
  stories/vue/src/Auth.vue
  stories/vue/src/AuthCheckError.vue
  stories/vue/src/AuthGetIdentity.vue
  stories/vue/src/AuthPermissions.vue
Due: @ginjou/core, @ginjou/vue

refactor: auth redirect to
  packages/core/src/auth/auth.ts
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/helper.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
Due: @ginjou/core, @ginjou/vue

feat: emitParent
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/identity.ts
Due: @ginjou/core, @ginjou/vue

refactor: pass hooks
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/vue/src/auth/check-error.ts
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
Due: @ginjou/core, @ginjou/vue

refactor: auth redirect to (#67)
  packages/core/src/auth/auth.ts
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/helper.ts
  packages/core/src/auth/identity.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/check-error.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
Due: @ginjou/core, @ginjou/vue

chore(release): @ginjou/core v0.1.0-beta.10
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/vue v0.1.0-beta.10
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/nuxt v0.1.0-beta.6
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

feat: select options with source data
  packages/core/src/controller/select.ts
  packages/vue/src/controller/select.ts
Due: @ginjou/core, @ginjou/vue

feat: query many generic types
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/update-many.ts
Due: @ginjou/vue

refactor: move to es-toolkit
  packages/core/package.json
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  packages/core/src/controller/select.ts
  packages/core/src/query/publish.ts
  packages/core/src/realtime/subscribe.ts
  packages/core/src/resource/parse.ts
  packages/core/src/utils/sub-value.ts
  pnpm-lock.yaml
Due: @ginjou/core

feat: select options with source data (#70)
  packages/core/src/controller/select.ts
  packages/vue/src/controller/select.ts
Due: @ginjou/core, @ginjou/vue

feat: query many generic types (#71)
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/update-many.ts
Due: @ginjou/vue

chore: remove unused deps
  packages/core/package.json
  pnpm-lock.yaml
Due: @ginjou/core

refactor: move to es-toolkit (#72)
  packages/core/package.json
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  packages/core/src/controller/select.ts
  packages/core/src/query/publish.ts
  packages/core/src/realtime/subscribe.ts
  packages/core/src/resource/parse.ts
  packages/core/src/utils/sub-value.ts
  pnpm-lock.yaml
Due: @ginjou/core

refactor: rename fetcher method name
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/index.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/vue/src/controller/form.ts
  packages/vue/src/query/create.test.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/delete.test.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/update.test.ts
  packages/vue/src/query/update.ts
  packages/vue/test/mock-fetcher.ts
  stories/vue/src/Delete.vue
Due: @ginjou/core, @ginjou/vue

wip
  README.md
Due: none

refactor!: rename defineFetchers
  packages/nuxt/playground/ginjou/fetcher.ts
  packages/vue/src/query/fetchers.ts
  packages/vue/test/mount.ts
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/vue

chore: upgrade storybook v10
  internals/tsconfig/node.json
  internals/tsconfig/package.json
  pnpm-lock.yaml
  stories/root/.storybook/main.ts
  stories/root/.storybook/manager.ts
  stories/root/.storybook/theme.ts
  stories/root/package.json
  stories/root/src/0-introduction.mdx
  stories/root/src/1-getting-started.mdx
  stories/vue/.storybook/main.ts
  stories/vue/.storybook/manager.ts
  stories/vue/.storybook/preview.ts
  stories/vue/.storybook/theme.ts
  stories/vue/package.json
  stories/vue/src/Auth.stories.ts
  stories/vue/src/AuthCheckError.stories.ts
  stories/vue/src/AuthGetIdentity.stories.ts
  stories/vue/src/AuthPermissions.stories.ts
  stories/vue/src/Delete.stories.ts
  stories/vue/src/Form.stories.ts
  stories/vue/src/I18nLocale.stories.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/Select.stories.ts
  stories/vue/src/Show.stories.ts
Due: none

chore: add autofix
  .github/workflows/autofix.yaml
Due: none

chore: upgrade unocss
  pnpm-lock.yaml
  stories/vue/package.json
  stories/vue/unocss.config.ts
Due: none

fix(nuxt): include packages in vite.optimizeDeps
  packages/nuxt/src/module.ts
Due: none

fix(nuxt): include packages in vite.optimizeDeps (#77)
  packages/nuxt/src/module.ts
Due: none

chore: upgrade storybook v10 (#75)
  internals/tsconfig/node.json
  internals/tsconfig/package.json
  pnpm-lock.yaml
  stories/root/.storybook/main.ts
  stories/root/.storybook/manager.ts
  stories/root/.storybook/theme.ts
  stories/root/package.json
  stories/root/src/0-introduction.mdx
  stories/root/src/1-getting-started.mdx
  stories/vue/.storybook/main.ts
  stories/vue/.storybook/manager.ts
  stories/vue/.storybook/preview.ts
  stories/vue/.storybook/theme.ts
  stories/vue/package.json
  stories/vue/src/Auth.stories.ts
  stories/vue/src/AuthCheckError.stories.ts
  stories/vue/src/AuthGetIdentity.stories.ts
  stories/vue/src/AuthPermissions.stories.ts
  stories/vue/src/Delete.stories.ts
  stories/vue/src/Form.stories.ts
  stories/vue/src/I18nLocale.stories.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/Select.stories.ts
  stories/vue/src/Show.stories.ts
  stories/vue/unocss.config.ts
Due: none

chore: add autofix (#76)
  .github/workflows/autofix.yaml
  packages/nuxt/playground/pages/index/posts/[id]/edit.vue
  stories/vue/src/Delete.stories.ts
  stories/vue/src/I18nLocale.vue
  stories/vue/src/ListFiltersWithCustomSyncRoute.vue
Due: none

refactor!: rename fetcher method name (#73)
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/index.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/nuxt/playground/ginjou/fetcher.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/vue/src/controller/form.ts
  packages/vue/src/query/create.test.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/delete.test.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/fetchers.ts
  packages/vue/src/query/update.test.ts
  packages/vue/src/query/update.ts
  packages/vue/test/mock-fetcher.ts
  packages/vue/test/mount.ts
  stories/vue/src/Delete.vue
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/core, @ginjou/vue

chore: use npm trusted publisher
  .github/workflows/release.yml
Due: none

docs(storybook/vue): query
  packages/with-rest-api/src/fetchers.ts
  stories/vue/src/CreateOne.stories.ts
  stories/vue/src/CreateOne.vue
  stories/vue/src/Delete.stories.ts
  stories/vue/src/DeleteOne.vue
  stories/vue/src/FormCreate.vue
  stories/vue/src/FormEdit.vue
  stories/vue/src/GetList.stories.ts
  stories/vue/src/GetList.vue
  stories/vue/src/GetOne.stories.ts
  stories/vue/src/GetOne.vue
  stories/vue/src/UpdateOne.stories.ts
  stories/vue/src/UpdateOne.vue
  stories/vue/src/api/posts.ts
Due: none

refactor: msw
  stories/vue/.storybook/preview.ts
  stories/vue/package.json
  stories/vue/src/CreateOne.stories.ts
  stories/vue/src/Delete.stories.ts
  stories/vue/src/Form.stories.ts
  stories/vue/src/GetList.stories.ts
  stories/vue/src/GetOne.stories.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/Select.stories.ts
  stories/vue/src/Show.stories.ts
  stories/vue/src/UpdateOne.stories.ts
  stories/vue/src/utils/msw.ts
Due: none

fix: service worker url
  pnpm-lock.yaml
  stories/vue/.storybook/preview.ts
Due: none

wip
  pnpm-lock.yaml
  stories/vue/package.json
Due: none

wip
  stories/root/.storybook/theme.ts
  stories/vue/.storybook/preview.ts
  stories/vue/.storybook/theme.ts
  stories/vue/unocss.config.ts
Due: none

wip
  stories/root/src/0-introduction.mdx
Due: none

docs(storybook/vue): add query composables (#78)
  packages/with-rest-api/src/fetchers.ts
  pnpm-lock.yaml
  stories/root/.storybook/theme.ts
  stories/root/src/0-introduction.mdx
  stories/vue/.storybook/preview.ts
  stories/vue/.storybook/theme.ts
  stories/vue/package.json
  stories/vue/src/CreateOne.stories.ts
  stories/vue/src/CreateOne.vue
  stories/vue/src/Delete.stories.ts
  stories/vue/src/DeleteOne.vue
  stories/vue/src/Form.stories.ts
  stories/vue/src/FormCreate.vue
  stories/vue/src/FormEdit.vue
  stories/vue/src/GetList.stories.ts
  stories/vue/src/GetList.vue
  stories/vue/src/GetOne.stories.ts
  stories/vue/src/GetOne.vue
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/Select.stories.ts
  stories/vue/src/UpdateOne.stories.ts
  stories/vue/src/UpdateOne.vue
  stories/vue/src/api/posts.ts
  stories/vue/src/utils/msw.ts
  stories/vue/unocss.config.ts
Due: none

docs: add packages
  README.md
Due: none

docs: conception
  README.md
  pnpm-lock.yaml
  stories/root/.storybook/components/Code.tsx
  stories/root/.storybook/main.ts
  stories/root/.storybook/preview.ts
  stories/root/package.json
  stories/root/src/1-conception.mdx
  stories/root/src/1-getting-started.mdx
  stories/root/tsconfig.app.json
Due: none

fix: mdx import error
  stories/root/src/1-conception.mdx
Due: none

docs: README (#74)
  README.md
  pnpm-lock.yaml
  stories/root/.storybook/components/Code.tsx
  stories/root/.storybook/main.ts
  stories/root/.storybook/preview.ts
  stories/root/package.json
  stories/root/src/1-conception.mdx
  stories/root/src/1-getting-started.mdx
  stories/root/tsconfig.app.json
Due: none

chore(release): @ginjou/core v0.1.0-beta.11
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

Path conditions:
  @ginjou/core: any of: packages/core/**
  @ginjou/vue: any of: packages/vue/**
