Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

fix: previous.data is undefined
  packages/core/src/query/mutation-mode.ts
Due: @ginjou/core

refactor: authz
  packages/core/src/access/index.ts
  packages/core/src/auth/auth.ts
  packages/core/src/auth/index.ts
  packages/core/src/authz/authz.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/index.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/index.ts
  packages/vue/src/access/access.ts
  packages/vue/src/access/index.ts
  packages/vue/src/auth/index.ts
  packages/vue/src/authz/authz.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/index.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/index.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/vue/src/authz/index.ts
  stories/vue/src/AuthPermissions.stories.ts
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/vue

wip
  packages/core/src/auth/invalidate.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/permissions.ts
Due: @ginjou/core

refactor: authz (#59)
  packages/core/src/access/index.ts
  packages/core/src/auth/auth.ts
  packages/core/src/auth/index.ts
  packages/core/src/auth/invalidate.ts
  packages/core/src/authz/authz.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/index.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/index.ts
  packages/vue/src/access/access.ts
  packages/vue/src/access/index.ts
  packages/vue/src/auth/index.ts
  packages/vue/src/authz/authz.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/index.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/index.ts
  stories/vue/src/AuthPermissions.stories.ts
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/core, @ginjou/vue

feat: sync route with options (#57)
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/list.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/ListFiltersWithCustomSyncRoute.vue
  stories/vue/src/ListSortersWithCustomSyncRoute.vue
Due: @ginjou/core

refactor: form, update, create TParams generic type (#58)
  packages/core/src/query/mutation-mode.ts
  packages/vue/src/controller/form.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

fix: authz not correct setup
  packages/vue/src/authz/authz.ts
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/vue

fix(ci): release concurrency
  .github/workflows/release.yml
Due: none

chore(release): @ginjou/core v0.1.0-beta.6
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/vue v0.1.0-beta.8
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/nuxt v0.1.0-beta.4
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

chore(ci): verify latest tag at release workflow
  .github/workflows/release.yml
Due: none

fix: types
  packages/core/src/authz/permissions.ts
  packages/vue/src/authz/permissions.ts
Due: @ginjou/core, @ginjou/vue

feat: add async functions
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/runtime/composables/authenticated.ts
  packages/nuxt/src/runtime/composables/can.ts
  packages/nuxt/src/runtime/composables/identity.ts
  packages/nuxt/src/runtime/composables/permissions.ts
Due: none

chore(nuxt playground): add auth, authz
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/ginjou/auth.ts
  packages/nuxt/playground/ginjou/authz.ts
  packages/nuxt/playground/pages/index/posts/[id]/index.vue
  packages/nuxt/playground/pages/index/posts/index.vue
Due: none

feat(nuxt): add async auth functions (#60)
  packages/core/src/authz/permissions.ts
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/ginjou/auth.ts
  packages/nuxt/playground/ginjou/authz.ts
  packages/nuxt/playground/pages/index/posts/[id]/index.vue
  packages/nuxt/playground/pages/index/posts/index.vue
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/runtime/composables/authenticated.ts
  packages/nuxt/src/runtime/composables/can.ts
  packages/nuxt/src/runtime/composables/identity.ts
  packages/nuxt/src/runtime/composables/permissions.ts
  packages/vue/src/authz/permissions.ts
Due: @ginjou/core, @ginjou/vue

fix(core): incorrect update infinite list cache data
  packages/core/src/query/helper.ts
  packages/core/src/query/mutation-mode.ts
Due: @ginjou/core

fix(core): incorrect update infinite list cache data (#61)
  packages/core/src/query/helper.ts
  packages/core/src/query/mutation-mode.ts
Due: @ginjou/core

chore(release): @ginjou/core v0.1.0-beta.7
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/vue v0.1.0-beta.9
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/with-supabase v0.1.0-beta.4
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/with-vue-router v0.1.0-beta.3
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.3
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.5
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

fix: trigger invalidate with incorrect key
  packages/core/src/query/get-list.ts
Due: @ginjou/core

fix: trigger invalidate with incorrect key (#62)
  packages/core/src/query/get-list.ts
Due: @ginjou/core

chore(release): @ginjou/core v0.1.0-beta.8
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(ci): release verify latest tag
  .github/workflows/release.yml
Due: none

chore(release): @ginjou/core v0.1.0-beta.9
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

feat: create with hooks
  packages/core/src/query/create.ts
  packages/vue/src/query/create.ts
Due: @ginjou/core, @ginjou/vue

feat: create many with hooks
  packages/core/src/query/create-many.ts
  packages/vue/src/query/create-many.ts
Due: @ginjou/core, @ginjou/vue

feat: useCreate, useCreateMany with hooks (#65)
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
Due: @ginjou/core, @ginjou/vue

feat: mutation with partial props
  packages/core/src/controller/form.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/types.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/custom-mutation.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/update-many.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

feat: login, logout donesn't need pass variables
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/core/src/controller/form.ts
  packages/nuxt/playground/pages/index/posts/index.vue
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
  stories/vue/src/Auth.vue
  stories/vue/src/AuthCheckError.vue
  stories/vue/src/AuthGetIdentity.vue
  stories/vue/src/AuthPermissions.vue
Due: @ginjou/core, @ginjou/vue

refacotr: mutate, mutateAsync are use partial variables
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/custom-mutation.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/update-many.ts
  packages/vue/src/query/update.ts
Due: @ginjou/vue

refactor: use OverrideProperties to requireable props in MutationProps
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/types.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/custom-mutation.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/update-many.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

feat: login, logout with mutation options
  packages/core/src/auth/check-error.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/custom.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/core/src/query/types.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/vue/src/auth/check-error.ts
  packages/vue/src/auth/login.ts
  packages/vue/src/auth/logout.ts
  packages/vue/src/query/create-many.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/custom-mutation.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/delete-many.ts
  packages/vue/src/query/delete.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
  packages/vue/src/query/update-many.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

refactor: resplve props without force type
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
Due: @ginjou/core

fix: InfiniteQueryObserverOptions types
  packages/core/src/query/get-infinite-list.ts
Due: @ginjou/core

Path conditions:
  @ginjou/core: any of: packages/core/**
  @ginjou/vue: any of: packages/vue/**
