Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

wip
  stories/vue/src/CreateMany.vue
  stories/vue/src/UpdateMany.vue
Due: none

feat: invalidate by result data (#102)
  docs/content/1.guides/1.data.md
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  stories/vue/src/Create.stories.ts
  stories/vue/src/CreateMany.vue
  stories/vue/src/Update.stories.ts
  stories/vue/src/UpdateMany.vue
Due: @ginjou/core

chore(release): @ginjou/core v0.1.0-beta.16
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

wip
  docs/content/1.guides/1.data.md
  docs/content/1.guides/2.form.md
  docs/content/1.guides/3.list.md
  docs/content/1.guides/4.authentication.md
  docs/content/1.guides/5.authorization.md
  docs/content/1.guides/8.resources.md
Due: none

wip
  .coderabbit.yaml
  docs/content/1.guides/1.data.md
  docs/content/1.guides/4.authentication.md
  docs/content/1.guides/5.authorization.md
  eslint.config.js
Due: none

wip
  docs/public/favicon.ico
  stories/root/.storybook/main.ts
  stories/root/public/favicon.ico
  stories/root/public/logo.png
Due: none

wip
  docs/content/1.guides/7.realtime.md
  packages/core/src/query/realtime.ts
Due: @ginjou/core

wip
  docs/content/1.guides/7.realtime.md
Due: none

wip
  docs/content/1.guides/4.authentication.md
  docs/content/1.guides/5.authorization.md
  docs/content/1.guides/6.notifications.md
  docs/content/1.guides/7.realtime.md
  docs/content/1.guides/8.resources.md
Due: none

wip
  README.md
  assets/logo.png
  assets/logo.svg
  docs/public/favicon.ico
  stories/root/public/favicon.ico
  stories/root/public/logo.png
Due: none

wip
  docs/app/app.config.ts
  docs/app/components/TheLogo.vue
  docs/content/1.guides/4.authentication.md
  docs/content/1.guides/5.authorization.md
  docs/content/1.guides/8.resources.md
  docs/content/3.backend/rest-api.md
Due: none

wip
  docs/content/1.guides/1.data.md
  docs/content/1.guides/2.form.md
  docs/content/1.guides/3.list.md
  docs/content/1.guides/4.authentication.md
  docs/content/1.guides/5.authorization.md
  docs/content/1.guides/6.notifications.md
  docs/content/1.guides/7.realtime.md
  docs/content/1.guides/8.resources.md
  docs/content/2.integrations/0.vue.md
  docs/content/2.integrations/1.nuxt.md
  docs/content/3.backend/directus.md
  docs/content/3.backend/rest-api.md
  docs/content/3.backend/supabase.md
Due: none

wip
  docs/package.json
  pnpm-lock.yaml
Due: none

wip
  README.md
  docs/app/app.config.ts
  docs/content/1.guides/0.introduction.md
  docs/content/1.guides/1.data.md
  docs/content/1.guides/7.realtime.md
  docs/content/1.guides/8.resources.md
Due: none

wip
  docs/content/1.guides/3.list.md
  docs/content/3.backend/directus.md
  docs/content/3.backend/supabase.md
Due: none

wip
  pnpm-workspace.yaml
Due: none

fix(core): types failed of props.queryOptions for edit controller
  packages/core/src/controller/edit.ts
Due: @ginjou/core

wip
  docs/content/1.guides/1.data.md
  docs/content/1.guides/2.form.md
  docs/content/1.guides/4.authentication.md
  docs/content/1.guides/7.realtime.md
  docs/content/2.integrations/0.vue.md
  docs/content/2.integrations/1.nuxt.md
  docs/content/3.backend/directus.md
  docs/content/3.backend/supabase.md
Due: none

wip
  docs/content/1.guides/0.introduction.md
  docs/content/1.guides/1.data.md
Due: none

docs: improve document content with ai (#103)
  .coderabbit.yaml
  README.md
  TESTING_COMPLETE.md
  TEST_COVERAGE_SUMMARY.md
  assets/logo.png
  assets/logo.svg
  docs/app/app.config.ts
  docs/app/components/TheLogo.vue
  docs/content/1.guides/0.introduction.md
  docs/content/1.guides/1.data.md
  docs/content/1.guides/2.form.md
  docs/content/1.guides/3.list.md
  docs/content/1.guides/4.authentication.md
  docs/content/1.guides/5.authorization.md
  docs/content/1.guides/6.notifications.md
  docs/content/1.guides/7.realtime.md
  docs/content/1.guides/8.resources.md
  docs/content/2.integrations/0.vue.md
  docs/content/2.integrations/1.nuxt.md
  docs/content/3.backend/directus.md
  docs/content/3.backend/rest-api.md
  docs/content/3.backend/supabase.md
  docs/package.json
  docs/public/favicon.ico
  eslint.config.js
  packages/core/src/query/realtime.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stories/root/.storybook/main.ts
  stories/root/public/favicon.ico
Due: @ginjou/core

chore: use tsdown replace unbuild
  .npmrc
  eslint.config.js
  internals/tsdown-config/package.json
  internals/tsdown-config/src/index.mjs
  package.json
  packages/core/build.config.ts
  packages/core/package.json
  packages/core/tsconfig.node.json
  packages/core/tsdown.config.ts
  packages/nuxt/package.json
  packages/vue/build.config.ts
  packages/vue/package.json
  packages/vue/tsconfig.node.json
  packages/vue/tsdown.config.ts
  packages/with-directus/build.config.ts
  packages/with-directus/package.json
  packages/with-directus/tsconfig.node.json
  packages/with-directus/tsdown.config.ts
  packages/with-rest-api/build.config.ts
  packages/with-rest-api/package.json
  packages/with-rest-api/tsconfig.node.json
  packages/with-rest-api/tsdown.config.ts
  packages/with-supabase/build.config.ts
  packages/with-supabase/package.json
  packages/with-supabase/tsconfig.node.json
  packages/with-supabase/tsdown.config.ts
  packages/with-vue-i18n/build.config.ts
  packages/with-vue-i18n/package.json
  packages/with-vue-i18n/tsconfig.node.json
  packages/with-vue-i18n/tsdown.config.ts
  packages/with-vue-router/build.config.ts
  packages/with-vue-router/package.json
  packages/with-vue-router/tsconfig.node.json
  packages/with-vue-router/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stories/root/package.json
  stories/vue/package.json
  turbo.json
Due: @ginjou/core, @ginjou/vue

chore(nuxt): move @nuxt/kit to peer deps
  package.json
  packages/nuxt/package.json
  packages/nuxt/src/utils/import.ts
  pnpm-lock.yaml
Due: none

chore(deps): update storybook
  pnpm-lock.yaml
  stories/root/package.json
  stories/vue/package.json
Due: none

chore(deps): update dev deps
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update eslint
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: none

docs: add README for packages
  README.md
  packages/core/README.md
  packages/nuxt/README.md
  packages/vue/README.md
  packages/with-directus/README.md
  packages/with-rest-api/README.md
  packages/with-supabase/README.md
  packages/with-vue-i18n/README.md
  packages/with-vue-router/README.md
Due: @ginjou/core, @ginjou/vue

fix: typo
  packages/vue/src/realtime/context.ts
  packages/vue/src/realtime/options.ts
  packages/vue/src/realtime/publish.ts
  packages/vue/src/realtime/subscribe.ts
Due: @ginjou/vue

fix: correct type for onSuccess in createSuccessHandler
  packages/core/src/query/update-many.ts
Due: @ginjou/core

chore(deps): use latest tanstack-query-callbacks
  packages/core/package.json
  pnpm-lock.yaml
Due: @ginjou/core

chore(deps): update dev deps
  docs/package.json
  package.json
  packages/core/package.json
  packages/nuxt/package.json
  packages/nuxt/playground/package.json
  packages/vue/package.json
  packages/with-supabase/package.json
  packages/with-vue-i18n/package.json
  packages/with-vue-router/package.json
  pnpm-lock.yaml
  stories/vue/package.json
Due: @ginjou/core, @ginjou/vue

chore(deps): update tanstack-query-callbacks
  packages/vue/package.json
  pnpm-lock.yaml
Due: @ginjou/vue

chore(ci): remove tag verify from release script
  .github/workflows/release.yml
Due: none

chore(release): @ginjou/core v0.1.0-beta.17
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/with-supabase v0.1.0-beta.8
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/with-directus v0.1.0-beta.12
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.15
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue
