Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

fix(vue): query.enabled funciton are none reactive
  packages/core/src/utils/query.ts
  packages/vue/src/auth/authenticated.test.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/identity.test.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/authz/can.test.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.test.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/query/custom.test.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/get-infinite-list.test.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.test.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.test.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.test.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

fix(svelte): query.enabled function none reactive
  packages/svelte/src/auth/authenticated.svelte.test.ts
  packages/svelte/src/auth/authenticated.svelte.ts
  packages/svelte/src/auth/identity.svelte.test.ts
  packages/svelte/src/auth/identity.svelte.ts
  packages/svelte/src/authz/can.svelte.test.ts
  packages/svelte/src/authz/can.svelte.ts
  packages/svelte/src/authz/permissions.svelte.test.ts
  packages/svelte/src/authz/permissions.svelte.ts
  packages/svelte/src/query/custom.svelte.test.ts
  packages/svelte/src/query/custom.svelte.ts
  packages/svelte/src/query/get-infinite-list.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.ts
  packages/svelte/src/query/get-list.svelte.ts
  packages/svelte/src/query/get-many.svelte.test.ts
  packages/svelte/src/query/get-many.svelte.ts
  packages/svelte/src/query/get-one.svelte.test.ts
  packages/svelte/src/query/get-one.svelte.ts
Due: none

fix: none reactive query enabled (#123)
  packages/core/src/utils/query.ts
  packages/svelte/src/auth/authenticated.svelte.test.ts
  packages/svelte/src/auth/authenticated.svelte.ts
  packages/svelte/src/auth/identity.svelte.test.ts
  packages/svelte/src/auth/identity.svelte.ts
  packages/svelte/src/authz/can.svelte.test.ts
  packages/svelte/src/authz/can.svelte.ts
  packages/svelte/src/authz/permissions.svelte.test.ts
  packages/svelte/src/authz/permissions.svelte.ts
  packages/svelte/src/query/custom.svelte.test.ts
  packages/svelte/src/query/custom.svelte.ts
  packages/svelte/src/query/get-infinite-list.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.ts
  packages/svelte/src/query/get-list.svelte.ts
  packages/svelte/src/query/get-many.svelte.test.ts
  packages/svelte/src/query/get-many.svelte.ts
  packages/svelte/src/query/get-one.svelte.test.ts
  packages/svelte/src/query/get-one.svelte.ts
  packages/vue/src/auth/authenticated.test.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/identity.test.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/authz/can.test.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.test.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/query/custom.test.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/get-infinite-list.test.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.test.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.test.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.test.ts
  packages/vue/src/query/get-one.ts
Due: @ginjou/core, @ginjou/vue

feat: get many by one
  packages/core/src/query/get-many-by-one.test.ts
  packages/core/src/query/get-many-by-one.ts
  packages/core/src/query/index.ts
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/nuxt/src/runtime/composables/get-many-by-one.ts
  packages/vue/src/query/get-many-by-one.ts
  packages/vue/src/query/index.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/query/get-many-by-one.ts
  packages/vue/src/query/get-many-by-one.test.ts
  packages/vue/src/query/get-many-by-one.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/svelte/src/query/get-many-by-one.svelte.test.ts
  packages/svelte/src/query/get-many-by-one.svelte.ts
  packages/svelte/src/query/index.ts
  stories/svelte/src/GetManyByOne.stories.ts
  stories/svelte/src/GetManyByOne.svelte
  stories/svelte/src/views/GetManyByOneContent.svelte
  stories/vue/src/GetManyByOne.stories.ts
  stories/vue/src/GetManyByOne.vue
Due: none

wip
  docs/content/1.guides/0.introduction.md
  docs/content/1.guides/1.data.md
  docs/content/2.integrations/1.nuxt.md
  skills/ginjou/SKILL.md
  skills/ginjou/references/core/data-flow.md
  skills/ginjou/references/nuxt/ssr.md
  skills/ginjou/references/vue/data-composables.md
Due: none

wip
  packages/core/src/query/get-many-by-one.test.ts
  packages/core/src/query/get-many-by-one.ts
Due: @ginjou/core

wip
  docs/content/2.integrations/1.nuxt.md
  packages/core/src/query/get-many-by-one.ts
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/src/runtime/composables/get-many-by-one.ts
  packages/vue/src/query/get-many-by-one.test.ts
  packages/vue/src/query/get-many-by-one.ts
  skills/ginjou/references/nuxt/ssr.md
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/query/get-many-by-one.ts
  packages/vue/src/query/get-many-by-one.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/query/get-many-by-one.ts
  packages/svelte/src/query/get-many-by-one.svelte.test.ts
  packages/svelte/src/query/get-many-by-one.svelte.ts
  packages/vue/src/query/get-many-by-one.ts
Due: @ginjou/core, @ginjou/vue

wip
  skills/ginjou/SKILL.md
  skills/ginjou/references/core/backend-rest-api.md
  skills/ginjou/references/core/mutation-flows.md
  skills/ginjou/references/core/setup.md
  skills/ginjou/references/nuxt/ssr.md
  skills/ginjou/references/svelte/authentication.md
  skills/ginjou/references/svelte/authorization.md
  skills/ginjou/references/svelte/controllers.md
  skills/ginjou/references/svelte/data-composables.md
  skills/ginjou/references/svelte/forms.md
  skills/ginjou/references/svelte/i18n.md
  skills/ginjou/references/svelte/notifications.md
  skills/ginjou/references/svelte/realtime.md
  skills/ginjou/references/svelte/resources.md
  skills/ginjou/references/svelte/router.md
  skills/ginjou/references/svelte/setup.md
  skills/ginjou/references/vue/authorization.md
  skills/ginjou/references/vue/controllers.md
  skills/ginjou/references/vue/data-composables.md
  skills/ginjou/references/vue/notifications.md
  skills/ginjou/references/vue/realtime.md
Due: none

fix: create notify params result can be undefined
  packages/core/src/query/notify.ts
Due: @ginjou/core

chore: add typecheck for pkgs
  .github/workflows/test.yml
  internals/tsconfig/types.json
  package.json
  packages/core/package.json
  packages/core/src/query/get-many.ts
  packages/core/src/utils/defer.ts
  packages/core/tsconfig.types.json
  packages/nuxt/package.json
  packages/nuxt/tsconfig.types.json
  packages/svelte/package.json
  packages/svelte/tsconfig.types.json
  packages/vue/package.json
  packages/vue/src/utils/pick-ref.test.ts
  packages/vue/tsconfig.types.json
  packages/with-directus/package.json
  packages/with-directus/tsconfig.types.json
  packages/with-rest-api/package.json
  packages/with-rest-api/tsconfig.types.json
  packages/with-supabase/package.json
  packages/with-supabase/tsconfig.types.json
  packages/with-svelte-spa-router/package.json
  packages/with-svelte-spa-router/tsconfig.types.json
  packages/with-vue-i18n/package.json
  packages/with-vue-i18n/tsconfig.types.json
  packages/with-vue-router/package.json
  packages/with-vue-router/tsconfig.types.json
  pnpm-lock.yaml
  turbo.json
Due: @ginjou/core, @ginjou/vue

wip
  skills/ginjou/SKILL.md
  skills/ginjou/references/core/data-flow.md
  skills/ginjou/references/vue/data-composables.md
Due: none

wip
  skills/ginjou/SKILL.md
Due: none

feat(vue,svelte): useGetManyByOne (#124)
  docs/content/1.guides/0.introduction.md
  docs/content/1.guides/1.data.md
  docs/content/2.integrations/1.nuxt.md
  packages/core/src/query/get-many-by-one.test.ts
  packages/core/src/query/get-many-by-one.ts
  packages/core/src/query/index.ts
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/svelte/src/query/get-many-by-one.svelte.test.ts
  packages/svelte/src/query/get-many-by-one.svelte.ts
  packages/svelte/src/query/index.ts
  packages/vue/src/query/get-many-by-one.test.ts
  packages/vue/src/query/get-many-by-one.ts
  packages/vue/src/query/index.ts
  stories/svelte/src/GetManyByOne.stories.ts
  stories/svelte/src/GetManyByOne.svelte
  stories/svelte/src/views/GetManyByOneContent.svelte
  stories/vue/src/GetManyByOne.stories.ts
  stories/vue/src/GetManyByOne.vue
Due: @ginjou/core, @ginjou/vue

chore(ci): trigger release by workflow_dispatch
  .github/workflows/release.yml
Due: none

chore: add CLAUDE.md
  CLAUDE.md
Due: none

chore(deps): update vitest and ecosystem
  package.json
  packages/svelte/package.json
  pnpm-lock.yaml
  stories/root/package.json
  stories/svelte/package.json
  stories/vue/package.json
Due: none

chore(deps): update dev deps
  internals/tsdown-config/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade storybook
  internals/storybook-shared/package.json
  pnpm-lock.yaml
  stories/root/package.json
  stories/svelte/package.json
  stories/vue/package.json
Due: none

chore(deps): update eslint and config
  docs/content/index.md
  package.json
  packages/nuxt/src/runtime/query-hydrate-plugin.ts
  packages/nuxt/src/runtime/router-plugin.ts
  packages/nuxt/src/runtime/utils/async.ts
  packages/svelte/src/utils/proxy.ts
  packages/vue/src/utils/unrefs.ts
  packages/with-directus/src/auth.ts
  pnpm-lock.yaml
Due: @ginjou/vue

chore(deps): update tanstack query and lib ecosystem
  docs/package.json
  packages/core/package.json
  packages/nuxt/package.json
  packages/nuxt/playground/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/with-svelte-spa-router/package.json
  packages/with-vue-i18n/package.json
  packages/with-vue-router/package.json
  pnpm-lock.yaml
  stories/svelte/package.json
  stories/vue/package.json
Due: @ginjou/core, @ginjou/vue

chore(deps): update nuxt and docus
  docs/package.json
  packages/nuxt/playground/package.json
  packages/nuxt/src/runtime/query-hydrate-plugin.ts
  packages/nuxt/src/runtime/router-plugin.ts
  pnpm-lock.yaml
Due: none

chore(deps): update @types/node
  internals/tsdown-config/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update none major deps
  internals/tsconfig/package.json
  packages/core/package.json
  packages/nuxt/package.json
  packages/with-supabase/package.json
  pnpm-lock.yaml
Due: @ginjou/core

fix: query client hydrate race condition
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/query-hydrate-plugin.ts
  packages/nuxt/src/runtime/use-id-plugin.ts
  packages/vue/package.json
  packages/vue/src/index.ts
  packages/vue/src/query/query-client.test.ts
  packages/vue/src/query/query-client.ts
  packages/vue/src/utils/id.ts
  pnpm-lock.yaml
Due: @ginjou/vue

wip
  packages/vue/src/utils/id.ts
Due: @ginjou/vue

wip
  packages/vue/src/query/query-client.ts
Due: @ginjou/vue

wip
  package.json
  pnpm-lock.yaml
Due: none

wip
  packages/nuxt/playground/package.json
  pnpm-lock.yaml
Due: none

wip
  packages/nuxt/package.json
  pnpm-lock.yaml
Due: none

wip
  docs/package.json
  pnpm-lock.yaml
Due: none

fix(vue,nuxt): share same state at per request on server side (#126)
  docs/package.json
  package.json
  packages/nuxt/package.json
  packages/nuxt/playground/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/query-hydrate-plugin.ts
  packages/nuxt/src/runtime/use-id-plugin.ts
  packages/vue/package.json
  packages/vue/src/index.ts
  packages/vue/src/query/query-client.test.ts
  packages/vue/src/query/query-client.ts
  packages/vue/src/utils/id.ts
  pnpm-lock.yaml
Due: @ginjou/vue

chore(release): @ginjou/core v0.1.0-beta.20
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core
