Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

chore(release): @ginjou/svelte v0.1.0-beta.1
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.17
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/with-svelte-spa-router v0.1.0-beta.1
  packages/with-svelte-spa-router/CHANGELOG.md
  packages/with-svelte-spa-router/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.15
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

docs(svelte): use correct link
  packages/svelte/README.md
Due: none

wip
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/resource-path.ts
  packages/core/src/controller/resource.ts
  packages/core/src/controller/show.ts
Due: @ginjou/core

wip
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/list.ts
  packages/core/src/controller/resource.ts
  packages/vue/src/auth/auth.ts
  packages/vue/src/authz/authz.ts
  packages/vue/src/controller/context.ts
  packages/vue/src/i18n/context.ts
  packages/vue/src/notification/context.ts
  packages/vue/src/query/fetchers.ts
  packages/vue/src/realtime/context.ts
  packages/vue/src/router/context.ts
  packages/vue/src/router/resolve.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/svelte/src/query/get-list.svelte.ts
  packages/vue/src/auth/authenticated.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/authz/can.ts
  packages/vue/src/authz/permissions.ts
  packages/vue/src/query/custom.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.ts
  stories/svelte/src/views/CreateOneContent.svelte
  stories/vue/src/CreateOne.vue
Due: @ginjou/vue

wip
  packages/core/src/auth/check.test.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.test.ts
  packages/core/src/auth/identity.ts
  packages/core/src/auth/login.test.ts
  packages/core/src/auth/login.ts
  packages/core/src/auth/logout.test.ts
  packages/core/src/auth/logout.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/list.ts
  packages/core/src/controller/resource.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/custom-mutation.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/fetchers.test.ts
  packages/core/src/query/fetchers.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/core/src/utils/query.test.ts
  packages/core/src/utils/query.ts
  packages/svelte/src/i18n/locale.svelte.ts
  packages/svelte/src/router/resolve.svelte.ts
  packages/svelte/src/utils/context.ts
  packages/vue/src/auth/auth.ts
  packages/vue/src/authz/authz.ts
  packages/vue/src/controller/context.ts
  packages/vue/src/i18n/context.ts
  packages/vue/src/i18n/locale.ts
  packages/vue/src/notification/context.ts
  packages/vue/src/query/fetchers.ts
  packages/vue/src/query/query-client.ts
  packages/vue/src/realtime/context.ts
  packages/vue/src/router/context.ts
  packages/vue/src/router/resolve.ts
  packages/with-supabase/src/auth.ts
  packages/with-supabase/src/fetcher.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/controller.test.ts
  packages/core/src/controller/resource-path.test.ts
  packages/core/src/controller/resource-path.ts
  packages/core/src/controller/resource.test.ts
Due: @ginjou/core

wip
  packages/core/src/controller/infinite-list.test.ts
  packages/core/src/controller/infinite-list.ts
  packages/core/src/controller/redirect-to.test.ts
  packages/core/src/controller/select.test.ts
  packages/core/src/controller/show.test.ts
  packages/core/src/query/create-many.test.ts
  packages/core/src/query/create.test.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/update-many.test.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.test.ts
  packages/core/src/query/update.ts
  packages/core/src/realtime/options.test.ts
  packages/core/src/realtime/publish.test.ts
  packages/core/src/realtime/subscribe.test.ts
Due: @ginjou/core

wip
  stories/root/.storybook/main.ts
Due: none

wip
  packages/core/src/controller/redirect-to.test.ts
  packages/core/src/realtime/subscribe.test.ts
Due: @ginjou/core

wip
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/realtime.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/core/src/realtime/event.ts
  packages/core/src/realtime/index.ts
  packages/core/src/realtime/mode.ts
  packages/core/src/realtime/options.test.ts
  packages/core/src/realtime/options.ts
  packages/core/src/realtime/publish.ts
  packages/core/src/realtime/realtime.ts
  packages/core/src/realtime/subscribe.test.ts
  packages/core/src/realtime/subscribe.ts
Due: @ginjou/core

wip
  internals/storybook-config/jsconfig.json
  internals/storybook-config/package.json
  internals/storybook-config/preview.css
  internals/storybook-config/preview.mjs
  internals/tsconfig/base.json
  pnpm-lock.yaml
  stories/root/.storybook/main.ts
  stories/root/.storybook/preview.ts
  stories/root/package.json
  stories/svelte/.storybook/decorators/background-class.ts
  stories/svelte/.storybook/main.ts
  stories/svelte/.storybook/preview.ts
  stories/svelte/package.json
  stories/vue/.storybook/main.ts
  stories/vue/.storybook/preview.ts
  stories/vue/package.json
Due: none

wip
  internals/storybook-shared/src/preview.ts
  stories/svelte/.storybook/preview.ts
  stories/vue/.storybook/preview.ts
Due: none

wip
  internals/storybook-shared/src/preview.css
Due: none

wip
  stories/svelte/src/views/PostCreate.svelte
  stories/vue/src/Form.stories.ts
  stories/vue/src/utils/sb-renders/post-simple-view.ts
  stories/vue/src/views/PostCreate.vue
  stories/vue/src/views/PostEdit.vue
  stories/vue/src/views/PostList.vue
  stories/vue/src/views/PostShow.vue
Due: none

wip
  packages/core/src/controller/controller.ts
  packages/core/src/controller/resource.ts
Due: @ginjou/core

wip
  docs/content/1.guides/1.data.md
  packages/core/src/query/delete-many.test.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.test.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/index.ts
  packages/core/src/query/mutation-mode.ts
  packages/core/src/query/optimistic-update-map.ts
  packages/core/src/query/update-many.test.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.test.ts
  packages/core/src/query/update.ts
Due: @ginjou/core

wip
  docs/content/1.guides/1.data.md
  packages/core/src/query/delete-many.test.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.test.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/index.ts
  packages/core/src/query/optimistic-update.ts
  packages/core/src/query/update-many.test.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.test.ts
  packages/core/src/query/update.ts
Due: @ginjou/core

wip
  packages/svelte/src/controller/infinite-list.svelte.ts
  packages/svelte/src/controller/list.svelte.ts
  packages/svelte/src/controller/select.svelte.ts
  packages/svelte/src/utils/box.test.ts
  packages/svelte/src/utils/box.ts
  packages/svelte/src/utils/derive-state.svelte.test.ts
  packages/svelte/src/utils/derive-state.svelte.ts
  packages/svelte/src/utils/getter.test.ts
  packages/svelte/src/utils/index.ts
  packages/svelte/src/utils/pick-state.svelte.test.ts
  packages/svelte/src/utils/pick-state.svelte.ts
  packages/svelte/src/utils/proxy.test.ts
  packages/svelte/src/utils/proxy.ts
  packages/svelte/src/utils/state-fallback.svelte.ts
  packages/svelte/src/utils/state-sub.svelte.ts
  packages/svelte/vitest.config.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
  packages/vue/src/controller/select.ts
  packages/vue/src/utils/derive-ref.test.ts
  packages/vue/src/utils/derive-ref.ts
  packages/vue/src/utils/pick-ref.test.ts
  packages/vue/src/utils/pick-ref.ts
  packages/vue/src/utils/ref-sub.test.ts
  packages/vue/src/utils/ref-sub.ts
Due: @ginjou/vue

wip
  packages/svelte/src/controller/create.svelte.test.ts
  packages/svelte/src/controller/create.svelte.ts
  packages/svelte/src/controller/edit.svelte.ts
  packages/svelte/src/controller/infinite-list.svelte.ts
  packages/svelte/src/controller/list.svelte.ts
  packages/svelte/src/controller/resource-path.svelte.ts
  packages/svelte/src/controller/resource.svelte.ts
  packages/svelte/src/controller/select.svelte.ts
  packages/svelte/src/controller/show.svelte.test.ts
  packages/svelte/src/controller/show.svelte.ts
  packages/svelte/src/i18n/locale.svelte.ts
  packages/svelte/src/i18n/translate.svelte.ts
  packages/svelte/src/query/create.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.ts
  packages/svelte/src/query/get-list.svelte.test.ts
  packages/svelte/src/query/get-list.svelte.ts
  packages/svelte/src/query/get-many.svelte.ts
  packages/svelte/src/query/get-one.svelte.ts
  packages/svelte/src/realtime/options.svelte.ts
  packages/svelte/src/router/location.svelte.ts
  packages/svelte/src/utils/box.test.ts
  packages/svelte/src/utils/box.ts
  packages/svelte/src/utils/derive-state.svelte.ts
  packages/svelte/src/utils/pick-state.svelte.ts
  packages/svelte/src/utils/proxy.test.ts
  packages/svelte/src/utils/proxy.ts
  packages/svelte/src/utils/watch.svelte.ts
Due: none

wip
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: none

wip
  docs/content/1.guides/1.data.md
  docs/content/1.guides/5.authorization.md
  docs/content/1.guides/7.realtime.md
Due: none

wip
  package.json
  packages/nuxt/.nuxtrc
  packages/nuxt/package.json
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: none

wip
  .gitignore
  package.json
  packages/nuxt/.gitignore
  packages/nuxt/package.json
  stories/root/package.json
Due: none

wip
  packages/svelte/package.json
  packages/svelte/svelte.config.js
  pnpm-lock.yaml
Due: none

wip
  package.json
  packages/nuxt/package.json
  stories/root/package.json
  stories/svelte/package.json
  stories/vue/package.json
Due: none

docs: controller replace resource
  .agents/skills/eval-ginjou/references/evals.json
  docs/content/1.guides/99.controller.md
  docs/content/2.integrations/1.nuxt.md
  packages/nuxt/playground/app/app.vue
  packages/nuxt/playground/app/ginjou/controller.ts
Due: none

chore(deps): upgrade infra deps
  .tool-versions
  internals/tsconfig/node.json
  internals/tsconfig/package.json
  internals/tsdown-config/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

wip
  package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  stories/root/package.json
  stories/svelte/package.json
  stories/vue/package.json
Due: none

wip
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): upgrade infra deps (#121)
  .tool-versions
  internals/tsconfig/node.json
  internals/tsconfig/package.json
  internals/tsdown-config/package.json
  package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stories/root/package.json
  stories/svelte/package.json
  stories/vue/package.json
Due: none

chore(deps): update storybook to v10.4
  internals/storybook-shared/package.json
  package.json
  pnpm-lock.yaml
  stories/root/package.json
  stories/svelte/package.json
  stories/vue/package.json
Due: none

chore(deps): upgrade docus, nuxt to latset version
  docs/content/2.integrations/0.vue.md
  docs/content/2.integrations/2.svelte.md
  docs/package.json
  packages/nuxt/package.json
  packages/nuxt/playground/package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore(deps): update tanstack query serials
  packages/core/package.json
  packages/svelte/package.json
  packages/vue/package.json
  packages/with-svelte-spa-router/package.json
  pnpm-lock.yaml
  stories/svelte/package.json
  stories/vue/package.json
Due: @ginjou/core, @ginjou/vue

Path conditions:
  @ginjou/core: any of: packages/core/**
  @ginjou/vue: any of: packages/vue/**
