Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

feat(core): helper functions for sorter, filter
  packages/core/src/query/fetcher.test.ts
  packages/core/src/query/fetcher.ts
Due: @ginjou/core

wip
  packages/core/src/query/fetcher.test.ts
  packages/nuxt/.nuxtrc
Due: @ginjou/core

wip
  packages/core/src/controller/list.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/filter.test.ts
  packages/core/src/query/filter.ts
  packages/core/src/query/sorter.test.ts
  packages/core/src/query/sorter.ts
Due: @ginjou/core

wip
  packages/core/src/controller/list.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/filter.test.ts
  packages/core/src/query/index.ts
  packages/core/src/query/sorter.test.ts
Due: @ginjou/core

wip
  packages/core/src/query/filter.test.ts
  packages/core/src/query/filter.ts
  packages/core/src/query/sorter.test.ts
  packages/core/src/query/sorter.ts
Due: @ginjou/core

feat(with-directus)!: support directus sdk v20+
  docs/content/4.backend/0.directus.md
  packages/with-directus/package.json
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
  packages/with-directus/src/contract.test.ts
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skills/ginjou/references/backends/directus.md
Due: none

wip
  docs/content/4.backend/0.directus.md
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
  packages/with-directus/src/contract.test.ts
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  skills/ginjou/references/backends/directus.md
Due: none

feat(core): helper functions for sorter, filter (#160)
  packages/core/src/controller/list.ts
  packages/core/src/query/fetcher.test.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/filter.test.ts
  packages/core/src/query/filter.ts
  packages/core/src/query/index.ts
  packages/core/src/query/sorter.test.ts
  packages/core/src/query/sorter.ts
  packages/nuxt/.nuxtrc
Due: @ginjou/core

wip
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
Due: none

wip
  docs/content/4.backend/0.directus.md
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
  packages/with-directus/src/contract.test.ts
Due: none

wip
  docs/content/4.backend/0.directus.md
  packages/nuxt/.nuxtrc
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
  packages/with-directus/src/contract.test.ts
  skills/ginjou/references/backends/directus.md
Due: none

wip
  packages/with-directus/src/auth.test.ts
Due: none

feat(with-directus)!: support directus sdk v20+ (#162)
  docs/content/4.backend/0.directus.md
  packages/with-directus/package.json
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
  packages/with-directus/src/contract.test.ts
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skills/ginjou/references/backends/directus.md
Due: none

wip
  packages/core/src/query/get-many-by-one.test.ts
  packages/core/src/query/get-many-by-one.ts
  packages/svelte/package.json
  packages/vue/src/query/get-many-by-one.ts
  pnpm-lock.yaml
  stories/svelte/package.json
Due: @ginjou/core, @ginjou/vue

fix(core): cached result for placeholder fn of get many
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
Due: @ginjou/core

wip
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
  packages/vue/src/query/get-many.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
Due: @ginjou/core

wip
  packages/svelte/src/query/get-many.svelte.ts
Due: none

fix(core): group aggregated get many requests by meta
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
Due: @ginjou/core

fix(core): resolve aggregated get many callers with only their own records
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
Due: @ginjou/core

fix(core, vue, svelte): cached result for placeholder fn of get many (#172)
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
  packages/svelte/src/query/get-many.svelte.ts
  packages/vue/src/query/get-many.ts
Due: @ginjou/core, @ginjou/vue

fix(core): aggregate get many group by meta (#174)
  packages/core/src/query/get-many.test.ts
  packages/core/src/query/get-many.ts
Due: @ginjou/core

chore(release): @ginjou/core v0.1.0-beta.23
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/vue v0.1.0-beta.21
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/svelte v0.1.0-beta.5
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Due: none

chore(release): @ginjou/with-directus v0.1.0-beta.17
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/with-supabase v0.1.0-beta.14
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.11
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none

chore(release): @ginjou/with-vue-router v0.1.0-beta.12
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/with-svelte-spa-router v0.1.0-beta.4
  packages/with-svelte-spa-router/CHANGELOG.md
  packages/with-svelte-spa-router/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.18
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

feat: query invalidates
  docs/content/1.guides/1.data.md
  packages/core/src/query/index.ts
  packages/core/src/query/invalidate.test.ts
  packages/core/src/query/invalidate.ts
  packages/svelte/src/query/index.ts
  packages/svelte/src/query/invalidate.ts
  packages/vue/src/query/index.ts
  packages/vue/src/query/invalidate.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/query/invalidate.test.ts
  packages/core/src/query/invalidate.ts
Due: @ginjou/core

wip
  packages/nuxt/.nuxtrc
Due: none

wip
  docs/content/1.guides/1.data.md
  docs/content/2.integrations/1.nuxt.md
  packages/core/src/query/invalidate.test.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/update-many.test.ts
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/src/imports/ginjou.ts
Due: @ginjou/core

wip
  docs/content/1.guides/1.data.md
  docs/content/2.integrations/1.nuxt.md
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/index.ts
  packages/core/src/query/invalidate.test.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/realtime.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/svelte/src/query/invalidate.ts
  packages/vue/src/query/invalidate.ts
Due: @ginjou/core, @ginjou/vue

feat(select): add searchKey, selectedOptionsOrder, getter keys and generics to useSelect
  docs/content/1.guides/2.form.md
  packages/core/src/controller/select.test.ts
  packages/core/src/controller/select.ts
  packages/nuxt/src/runtime/composables/select.ts
  packages/svelte/src/controller/select.svelte.test.ts
  packages/svelte/src/controller/select.svelte.ts
  packages/vue/src/controller/select.test.ts
  packages/vue/src/controller/select.ts
  skills/ginjou/references/controllers/vue.md
Due: @ginjou/core, @ginjou/vue
