Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

feat(with-supabase): add updateMany, deleteMany and custom fetcher methods
  docs/content/4.backend/1.supabase.md
  packages/with-supabase/src/fetcher.test.ts
  packages/with-supabase/src/fetcher.ts
Due: none

feat(with-supabase): add realtime provider based on postgres changes
  docs/content/1.guides/7.realtime.md
  docs/content/4.backend/1.supabase.md
  packages/with-supabase/src/index.ts
  packages/with-supabase/src/realtime.test.ts
  packages/with-supabase/src/realtime.ts
Due: none

feat(with-rest-api): add getMany and *Many fetcher methods
  docs/content/4.backend/9.rest-api.md
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/fetchers.ts
Due: none

feat(with-directus)!: add getMany and *Many methods, fix case-sensitivity operator mapping
  docs/content/4.backend/0.directus.md
  packages/nuxt/.nuxtrc
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
Due: none

wip
  packages/with-supabase/src/fetcher.ts
Due: none

feat(with-supabase): add updateMany, deleteMany and custom fetcher methods (#183)
  docs/content/4.backend/1.supabase.md
  packages/with-supabase/src/fetcher.test.ts
  packages/with-supabase/src/fetcher.ts
Due: none

wip
  docs/content/4.backend/0.directus.md
  packages/with-directus/package.json
  packages/with-directus/src/contract.test.ts
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  pnpm-lock.yaml
Due: none

wip
  docs/content/4.backend/0.directus.md
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
Due: none

wip
  docs/content/4.backend/0.directus.md
  packages/with-directus/src/contract.test.ts
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
Due: none

wip
  docs/content/4.backend/0.directus.md
  packages/with-directus/src/contract.test.ts
  packages/with-directus/src/fetcher.ts
Due: none

wip
  docs/content/4.backend/9.rest-api.md
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/fetchers.ts
Due: none

feat(with-directus)!: add getMany, *Many and custom methods, case-sensitivity operator mapping (#179)
  docs/content/4.backend/0.directus.md
  packages/nuxt/.nuxtrc
  packages/with-directus/package.json
  packages/with-directus/src/contract.test.ts
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  pnpm-lock.yaml
Due: none

feat(with-rest-api): add getMany and *Many fetcher methods (#180)
  docs/content/4.backend/9.rest-api.md
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/fetchers.ts
Due: none

wip
  docs/content/1.guides/0.introduction.md
  docs/content/4.backend/1.supabase.md
  packages/with-supabase/src/realtime.test.ts
  packages/with-supabase/src/realtime.ts
Due: none

wip
  docs/content/4.backend/1.supabase.md
  packages/with-supabase/src/realtime.test.ts
  packages/with-supabase/src/realtime.ts
Due: none

fix(vue): skip realtime subscribe during SSR
  packages/vue/src/realtime/subscribe.test.ts
  packages/vue/src/realtime/subscribe.ts
Due: @ginjou/vue

fix(vue): skip realtime subscribe during SSR (#184)
  packages/vue/src/realtime/subscribe.test.ts
  packages/vue/src/realtime/subscribe.ts
Due: @ginjou/vue

wip
  docs/content/1.guides/2.form.md
  packages/core/src/controller/select.test.ts
  packages/core/src/controller/select.ts
  packages/core/src/query/get-many-by-one.ts
  packages/nuxt/src/runtime/composables/select.ts
  packages/svelte/src/controller/select.svelte.ts
  packages/vue/src/controller/select.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/select.test.ts
  packages/core/src/controller/select.ts
Due: @ginjou/core

wip
  packages/core/src/controller/select.ts
Due: @ginjou/core

feat(select): add searchKey, selectedOptionsOrder, getter keys and generics to useSelect (#182)
  docs/content/1.guides/2.form.md
  packages/core/src/controller/select.test.ts
  packages/core/src/controller/select.ts
  packages/core/src/query/get-many-by-one.ts
  packages/nuxt/src/runtime/composables/select.ts
  packages/svelte/src/controller/select.svelte.test.ts
  packages/svelte/src/controller/select.svelte.ts
  packages/vue/src/controller/select.test.ts
  packages/vue/src/controller/select.ts
  skills/ginjou/references/controllers/vue.md
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/query/get-one.ts
  packages/core/src/query/invalidate.ts
Due: @ginjou/core

wip
  .agents/skills/eval-ginjou/SKILL.md
  .agents/skills/eval-ginjou/references/evals.json
  .agents/skills/eval-ginjou/scripts/run-eval.mjs
  .claude/skills/eval-ginjou
  skills/ginjou/SKILL.md
  skills/ginjou/references/data/behavior.md
  skills/ginjou/references/data/svelte.md
  skills/ginjou/references/data/vue.md
  skills/ginjou/references/i18n/vue.md
Due: none
