Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

test(core): require filter behavior to stay unused
  packages/core/src/controller/list.test.ts
Due: @ginjou/core

refactor(core): align can-access type names
  packages/core/src/authz/authz.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/can.ts
  packages/svelte/src/authz/can.svelte.ts
  packages/vue/src/authz/can.ts
Due: @ginjou/core, @ginjou/vue

refactor(core): unify value union type names
  packages/core/src/controller/list.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/index.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/core/src/realtime/options.ts
  packages/core/src/realtime/realtime.ts
  packages/sync-route-compact/src/sorters.ts
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/utils/filters.ts
  packages/with-supabase/src/fetcher.ts
Due: @ginjou/core

refactor(core): align single-record CRUD types
  packages/core/src/controller/create.test.ts
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/query/create.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/publish.ts
  packages/core/src/query/update.ts
  packages/svelte/src/query/create.svelte.ts
  packages/svelte/src/query/update.svelte.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

refactor(vue): align permissions context name
  packages/nuxt/src/runtime/composables/permissions.ts
  packages/vue/src/authz/permissions.ts
Due: @ginjou/vue

fix(directus): reject invalid login params
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
Due: none

fix: standardize runtime error messages
  packages/core/src/query/get-many.ts
  packages/vue/src/query/query-client.test.ts
  packages/vue/src/query/query-client.ts
  packages/vue/src/utils/id.ts
  packages/with-rest-api/src/utils/filters.test.ts
  packages/with-rest-api/src/utils/filters.ts
Due: @ginjou/core, @ginjou/vue

refactor(core): standardize query key aliases
  packages/core/src/auth/invalidate.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
Due: @ginjou/core

refactor(core): import logout module directly
  packages/core/src/auth/check-error.ts
Due: @ginjou/core

refactor: correct misspelled identifiers
  packages/core/src/controller/list.test.ts
  packages/core/src/controller/list.ts
  packages/core/src/query/aggregate.bench.ts
  packages/core/src/query/aggregate.test.ts
  packages/core/src/query/aggregate.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many-by-one.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/svelte/src/controller/infinite-list.svelte.ts
  packages/svelte/src/controller/list.svelte.ts
  packages/svelte/src/query/create.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.ts
  packages/svelte/src/query/get-list.svelte.test.ts
  packages/svelte/src/query/get-list.svelte.ts
  packages/svelte/src/query/get-many.svelte.test.ts
  packages/svelte/src/query/get-many.svelte.ts
  packages/svelte/src/query/get-one.svelte.test.ts
  packages/svelte/src/query/get-one.svelte.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
  packages/vue/src/query/delete-many.test.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.test.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.test.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.test.ts
  packages/vue/src/query/get-one.ts
  packages/vue/test/mount.ts
Due: @ginjou/core, @ginjou/vue

test(integrations): add adapter smoke coverage
  packages/with-supabase/src/auth.test.ts
  packages/with-svelte-spa-router/src/location.test.ts
  packages/with-svelte-spa-router/tsconfig.json
  packages/with-svelte-spa-router/tsconfig.test.json
  packages/with-vue-i18n/src/i18n.test.ts
  packages/with-vue-router/src/router.test.ts
  vitest.config.ts
Due: none

test: cover adapter integration contracts
  packages/nuxt/src/runtime/query-hydrate-plugin.test.ts
  packages/svelte/src/query/create.svelte.test.ts
  packages/svelte/src/query/create.test.svelte
  packages/svelte/tsconfig.test.json
  packages/svelte/vitest.config.ts
Due: none

refactor(adapters): sort barrel exports
  packages/vue/src/query/index.ts
Due: @ginjou/vue

feat(providers): forward query abort signals
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/fetchers.ts
  packages/with-supabase/src/fetcher.test.ts
  packages/with-supabase/src/fetcher.ts
Due: none

feat(controller): add clone resource action
  packages/core/src/controller/clone.test.ts
  packages/core/src/controller/clone.ts
  packages/core/src/controller/index.ts
  packages/core/src/controller/redirect-to.ts
  packages/core/src/controller/resource-action.ts
  packages/core/src/controller/resource-path.test.ts
  packages/core/src/controller/resource.test.ts
  packages/core/src/controller/resource.ts
  packages/core/src/router/navigate.test.ts
  packages/core/src/router/navigate.ts
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/nuxt/src/runtime/composables/clone.ts
  packages/svelte/src/controller/clone.svelte.test.ts
  packages/svelte/src/controller/clone.svelte.ts
  packages/svelte/src/controller/index.ts
  packages/vue/src/controller/clone.test.ts
  packages/vue/src/controller/clone.ts
  packages/vue/src/controller/index.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/utils/method.ts
Due: none

fix(rest-api): preserve custom body methods (#136)
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/utils/method.test.ts
  packages/with-rest-api/src/utils/method.ts
Due: none

fix(rest-api): send custom payload in body (#137)
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/fetchers.ts
Due: none

fix(vue): read create callbacks reactively (#138)
  packages/vue/src/query/create.test.ts
  packages/vue/src/query/create.ts
Due: @ginjou/vue

fix(stories): replace all vue i18n params (#139)
  stories/vue/src/utils/wrapper.test.ts
  stories/vue/src/utils/wrapper.ts
Due: none

test(core): require filter behavior to stay unused (#140)
  packages/core/src/controller/list.test.ts
Due: @ginjou/core

refactor(core): import logout module directly (#144)
  packages/core/src/auth/check-error.ts
Due: @ginjou/core

refactor(core): standardize query key aliases (#147)
  packages/core/src/auth/invalidate.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
Due: @ginjou/core

fix(directus): reject invalid login params (#149)
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/auth.ts
Due: none

refactor(adapters): sort barrel exports (#152)
  packages/vue/src/query/index.ts
Due: @ginjou/vue

wip
  packages/core/src/controller/list.test.ts
  packages/core/src/controller/list.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
Due: @ginjou/core

wip
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
Due: @ginjou/vue

wip
  packages/core/src/authz/authz.ts
  skills/ginjou/references/authorization/svelte.md
  skills/ginjou/references/authorization/vue.md
Due: @ginjou/core

refactor: correct misspelled identifiers (#146)
  packages/core/src/controller/list.test.ts
  packages/core/src/controller/list.ts
  packages/core/src/query/aggregate.bench.ts
  packages/core/src/query/aggregate.test.ts
  packages/core/src/query/aggregate.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/get-list.ts
  packages/core/src/query/get-many-by-one.ts
  packages/core/src/query/get-many.ts
  packages/core/src/query/get-one.ts
  packages/svelte/src/controller/infinite-list.svelte.ts
  packages/svelte/src/controller/list.svelte.ts
  packages/svelte/src/query/create.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.ts
  packages/svelte/src/query/get-list.svelte.test.ts
  packages/svelte/src/query/get-list.svelte.ts
  packages/svelte/src/query/get-many.svelte.test.ts
  packages/svelte/src/query/get-many.svelte.ts
  packages/svelte/src/query/get-one.svelte.test.ts
  packages/svelte/src/query/get-one.svelte.ts
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
  packages/vue/src/query/delete-many.test.ts
  packages/vue/src/query/get-infinite-list.ts
  packages/vue/src/query/get-list.test.ts
  packages/vue/src/query/get-list.ts
  packages/vue/src/query/get-many.test.ts
  packages/vue/src/query/get-many.ts
  packages/vue/src/query/get-one.test.ts
  packages/vue/src/query/get-one.ts
  packages/vue/test/mount.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/vue/src/authz/permissions.ts
Due: @ginjou/vue

refactor(core): align can-access type names (#145)
  packages/core/src/authz/authz.ts
  packages/core/src/authz/can.test.ts
  packages/core/src/authz/can.ts
  packages/svelte/src/authz/can.svelte.ts
  packages/vue/src/authz/can.ts
  skills/ginjou/references/authorization/svelte.md
  skills/ginjou/references/authorization/vue.md
Due: @ginjou/core, @ginjou/vue

refactor(vue): align permissions context name (#142)
  packages/nuxt/src/runtime/composables/permissions.ts
  packages/vue/src/authz/permissions.ts
Due: @ginjou/vue

wip
  packages/core/src/controller/list.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/index.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/realtime/realtime.ts
Due: @ginjou/core

refactor(core): unify value union type names (#141)
  packages/core/src/controller/list.ts
  packages/core/src/query/create-many.ts
  packages/core/src/query/create.ts
  packages/core/src/query/delete-many.ts
  packages/core/src/query/delete.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/index.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/update-many.ts
  packages/core/src/query/update.ts
  packages/core/src/realtime/options.ts
  packages/core/src/realtime/realtime.ts
  packages/sync-route-compact/src/sorters.ts
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/utils/filters.ts
  packages/with-supabase/src/fetcher.ts
Due: @ginjou/core

wip
  packages/core/src/query/fetcher.ts
Due: @ginjou/core

refactor(core)!: align single-record CRUD types (#143)
  packages/core/src/controller/create.test.ts
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/query/create.ts
  packages/core/src/query/fetcher.ts
  packages/core/src/query/invalidate.ts
  packages/core/src/query/publish.ts
  packages/core/src/query/update.ts
  packages/svelte/src/query/create.svelte.ts
  packages/svelte/src/query/update.svelte.ts
  packages/vue/src/query/create.ts
  packages/vue/src/query/update.ts
Due: @ginjou/core, @ginjou/vue

fix: standardize runtime error messages (#148)
  packages/core/src/query/get-many.ts
  packages/vue/src/query/query-client.test.ts
  packages/vue/src/query/query-client.ts
  packages/vue/src/utils/id.ts
  packages/with-rest-api/src/utils/filters.test.ts
  packages/with-rest-api/src/utils/filters.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/with-directus/src/fetcher.ts
  packages/with-supabase/src/fetcher.ts
Due: none

wip
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/fetchers.ts
Due: none
