Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

codecov.yml:

component_management:
  individual_components:
    - component_id: core
      name: '@ginjou/core'
      paths:
        - packages/core/**
    - component_id: vue
      name: '@ginjou/vue'
      paths:
        - packages/vue/**

chore(release): @ginjou/with-vue-router v0.1.0-beta.5
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.5
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.9
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

chore(ci): use latest checkout
  .github/workflows/autofix.yaml
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

test: intergration pkgs
  packages/core/tsconfig.test.json
  packages/vue/tsconfig.test.json
  packages/with-directus/src/auth.test.ts
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  packages/with-directus/tsconfig.app.json
  packages/with-directus/tsconfig.test.json
  packages/with-directus/vitest.config.ts
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/utils/filters.test.ts
  packages/with-rest-api/src/utils/method.test.ts
  packages/with-rest-api/src/utils/sorters.test.ts
  packages/with-rest-api/tsconfig.app.json
  packages/with-rest-api/tsconfig.test.json
  packages/with-rest-api/vitest.config.ts
  packages/with-supabase/tsconfig.app.json
  packages/with-supabase/tsconfig.test.json
  packages/with-vue-i18n/tsconfig.test.json
  packages/with-vue-router/tsconfig.app.json
  packages/with-vue-router/tsconfig.test.json
  vitest.config.ts
Due: @ginjou/core, @ginjou/vue

wip
  vitest.config.ts
Due: none

wip
  packages/vue/vitest.config.ts
  vitest.config.ts
Due: @ginjou/vue

wip
  packages/vue/vitest.config.ts
  packages/with-directus/vitest.config.ts
  packages/with-rest-api/vitest.config.ts
  vitest.config.ts
Due: @ginjou/vue

wip
  packages/with-supabase/vitest.config.ts
  packages/with-vue-i18n/vitest.config.ts
  packages/with-vue-router/vitest.config.ts
Due: none

wip
  packages/with-vue-i18n/tsconfig.app.json
Due: none

wip
  .github/workflows/test.yml
  internals/vite-config/alias.mjs
  internals/vite-config/jsconfig.json
  internals/vite-config/package.json
  packages/core/package.json
  packages/nuxt/package.json
  packages/nuxt/vitest.config.ts
  packages/vue/package.json
  packages/vue/vitest.config.ts
  packages/with-directus/package.json
  packages/with-directus/vitest.config.ts
  packages/with-rest-api/package.json
  packages/with-rest-api/vitest.config.ts
  packages/with-supabase/package.json
  packages/with-supabase/vitest.config.ts
  packages/with-vue-i18n/package.json
  packages/with-vue-i18n/vitest.config.ts
  packages/with-vue-router/package.json
  packages/with-vue-router/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: @ginjou/core, @ginjou/vue

wip
  internals/vite-config/package.json
  packages/nuxt/nuxt.config.ts
Due: none

wip
  internals/vite-config/jsconfig.json
  internals/vite-config/package.json
Due: none

refactor: results type for getPermissions and getIdentity
  packages/core/src/auth/auth.ts
  packages/core/src/auth/check.ts
  packages/core/src/auth/identity.ts
  packages/core/src/authz/authz.ts
  packages/core/src/authz/can.ts
  packages/core/src/authz/permissions.ts
  packages/core/src/utils/query.ts
  packages/vue/src/auth/identity.ts
  packages/vue/src/authz/permissions.ts
  packages/with-supabase/src/auth.ts
  stories/vue/src/AuthPermissions.vue
  stories/vue/src/utils/wrapper.ts
Due: @ginjou/core, @ginjou/vue

chore: apply lint formated
  packages/core/src/auth/auth.ts
Due: @ginjou/core

chore(deps): update npm major dependencies
  package.json
  packages/nuxt/package.json
  pnpm-lock.yaml
  stories/root/package.json
  stories/vue/package.json
Due: none

chore(deps): update msw data
  pnpm-lock.yaml
  stories/vue/package.json
  stories/vue/src/CreateOne.stories.ts
  stories/vue/src/Delete.stories.ts
  stories/vue/src/Form.stories.ts
  stories/vue/src/GetList.stories.ts
  stories/vue/src/GetOne.stories.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/Select.stories.ts
  stories/vue/src/Show.stories.ts
  stories/vue/src/UpdateOne.stories.ts
  stories/vue/src/api/posts.ts
  stories/vue/src/utils/msw-data.ts
Due: none

refactor: use collection filter and sorter
  stories/vue/src/utils/msw-data.ts
Due: none

feat: apply filters to condition
  stories/vue/src/utils/msw-data.ts
Due: none

chore(deps): upgrade @msw/data (#92)
  pnpm-lock.yaml
  stories/vue/package.json
  stories/vue/src/CreateOne.stories.ts
  stories/vue/src/Delete.stories.ts
  stories/vue/src/Form.stories.ts
  stories/vue/src/GetList.stories.ts
  stories/vue/src/GetOne.stories.ts
  stories/vue/src/InfiniteList.stories.ts
  stories/vue/src/List.stories.ts
  stories/vue/src/Select.stories.ts
  stories/vue/src/Show.stories.ts
  stories/vue/src/UpdateOne.stories.ts
  stories/vue/src/api/posts.ts
  stories/vue/src/utils/msw-data.ts
Due: none

feat: split form
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/form.ts
  packages/core/src/controller/index.ts
  packages/core/src/router/index.ts
  packages/core/src/router/navigate.ts
  packages/vue/src/controller/create.ts
  packages/vue/src/controller/edit.ts
  packages/vue/src/controller/form.ts
  packages/vue/src/controller/index.ts
  packages/vue/src/router/navigate.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/create.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/vue/src/controller/create.ts
  packages/vue/src/controller/edit.ts
  stories/vue/src/FormCreate.vue
  stories/vue/src/FormEdit.vue
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/router/navigate.test.ts
Due: @ginjou/core

wip
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.ts
  packages/vue/src/controller/create.ts
  packages/vue/src/controller/edit.ts
Due: @ginjou/core, @ginjou/vue

wip
  internals/tsconfig/node.json
  internals/vite-config/alias.mjs
  pnpm-lock.yaml
  stories/vue/package.json
  stories/vue/vite.config.ts
Due: none

wip
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/redirect-to.ts
  packages/vue/src/controller/edit.ts
  pnpm-workspace.yaml
Due: @ginjou/core, @ginjou/vue

wip
  pnpm-lock.yaml
  stories/root/src/1-conception.mdx
  stories/vue/.storybook/preview.ts
  stories/vue/package.json
  stories/vue/src/utils/reka-toast.ts
  stories/vue/src/utils/wrapper.ts
Due: none

feat: prevent unnecessary location query updates
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
  packages/vue/src/utils/ref-fallback.ts
Due: @ginjou/vue

wip
  packages/vue/src/utils/ref-fallback.ts
Due: @ginjou/vue

refactor!: separate useForm into useCreate and useEdit (#98)
  TESTING_COMPLETE.md
  TEST_COVERAGE_SUMMARY.md
  internals/tsconfig/node.json
  internals/vite-config/alias.mjs
  packages/core/src/controller/create.test.ts
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/form.ts
  packages/core/src/controller/index.ts
  packages/core/src/controller/redirect-to.ts
  packages/core/src/router/index.ts
  packages/core/src/router/navigate.test.ts
  packages/core/src/router/navigate.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/vue/src/controller/create.ts
  packages/vue/src/controller/edit.ts
  packages/vue/src/controller/form.ts
  packages/vue/src/controller/index.ts
  packages/vue/src/router/navigate.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stories/vue/package.json
  stories/vue/src/FormCreate.vue
  stories/vue/src/FormEdit.vue
  stories/vue/vite.config.ts
Due: @ginjou/core, @ginjou/vue

feat: prevent unnecessary location query updates (#100)
  packages/vue/src/controller/infinite-list.ts
  packages/vue/src/controller/list.ts
  packages/vue/src/utils/ref-fallback.test.ts
  packages/vue/src/utils/ref-fallback.ts
Due: @ginjou/vue

chore(release): @ginjou/core v0.1.0-beta.14
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/with-directus v0.1.0-beta.11
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.14
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/with-rest-api v0.1.0-beta.6
  packages/with-rest-api/CHANGELOG.md
  packages/with-rest-api/package.json
Due: none

chore(release): @ginjou/with-supabase v0.1.0-beta.7
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/with-vue-router v0.1.0-beta.6
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.6
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none
