Repository aa900031/ginjou: changes, and which Codecov flags are due for each by the changed paths.
All: @ginjou/core, @ginjou/vue

wip
  packages/with-rest-api/src/fetchers.ts
Due: none

wip
  vitest.config.ts
Due: none

wip
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/fetchers.ts
  packages/with-supabase/src/fetcher.ts
Due: none

test(integrations): add adapter smoke coverage (#151)
  packages/with-supabase/src/auth.test.ts
  packages/with-svelte-spa-router/src/location.test.ts
  packages/with-svelte-spa-router/tsconfig.json
  packages/with-svelte-spa-router/tsconfig.test.json
  packages/with-vue-i18n/src/i18n.test.ts
  packages/with-vue-router/src/router.test.ts
  vitest.config.ts
Due: none

feat(providers): forward query abort signals (#134)
  packages/with-directus/src/fetcher.test.ts
  packages/with-directus/src/fetcher.ts
  packages/with-rest-api/src/fetchers.test.ts
  packages/with-rest-api/src/fetchers.ts
  packages/with-supabase/src/fetcher.test.ts
  packages/with-supabase/src/fetcher.ts
Due: none

wip
  packages/core/src/controller/clone.test.ts
  packages/core/src/controller/clone.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/resource.ts
  packages/core/src/controller/show.ts
  packages/nuxt/src/runtime/composables/clone.ts
  packages/svelte/src/controller/clone.svelte.test.ts
  packages/svelte/src/controller/clone.svelte.ts
  packages/vue/src/controller/clone.test.ts
  packages/vue/src/controller/clone.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/create.test.ts
  packages/core/src/controller/create.ts
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/warn-unsaved.test.ts
  packages/core/src/controller/warn-unsaved.ts
  packages/with-svelte-spa-router/src/router.svelte.test.ts
  packages/with-svelte-spa-router/src/router.svelte.ts
  packages/with-vue-router/src/router.ts
  stories/vue/src/views/WarnUnsavedForm.vue
Due: @ginjou/core

wip
  packages/core/src/router/router-blocker.ts
  packages/with-svelte-spa-router/src/blocker.router.test.ts
  packages/with-svelte-spa-router/src/blocker.svelte.ts
  packages/with-svelte-spa-router/src/blocker.test.ts
  packages/with-svelte-spa-router/src/router.svelte.test.ts
  packages/with-svelte-spa-router/src/router.svelte.ts
  packages/with-svelte-spa-router/test/BlockedPage.svelte
  packages/with-svelte-spa-router/test/BlockerApp.svelte
  packages/with-svelte-spa-router/test/PlainPage.svelte
  packages/with-svelte-spa-router/test/RouterHost.svelte
  packages/with-svelte-spa-router/test/probe.ts
  packages/with-svelte-spa-router/vitest.config.ts
  packages/with-vue-router/src/router.ts
  stories/svelte/src/components/StoryShell.svelte
  stories/svelte/src/views/WarnUnsavedEditContent.svelte
  stories/vue/src/views/WarnUnsavedForm.vue
Due: @ginjou/core

wip
  packages/core/src/router/router-blocker.test.ts
  packages/core/src/router/router-blocker.ts
Due: @ginjou/core

wip
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/warn-unsaved.ts
  packages/core/src/router/router-blocker.test.ts
  packages/core/src/router/router-blocker.ts
  packages/core/src/router/router.ts
  packages/svelte/src/controller/create.svelte.ts
  packages/svelte/src/controller/edit.svelte.ts
  packages/svelte/src/controller/warn-unsaved.svelte.test.ts
  packages/svelte/src/controller/warn-unsaved.svelte.ts
  packages/svelte/src/router/route-blocker.svelte.test.ts
  packages/svelte/src/router/route-blocker.svelte.ts
  packages/vue/src/controller/create.ts
  packages/vue/src/controller/edit.ts
  packages/vue/src/controller/warn-unsaved.test.ts
  packages/vue/src/controller/warn-unsaved.ts
  packages/vue/src/router/route-blocker.test.ts
  packages/vue/src/router/route-blocker.ts
  packages/with-svelte-spa-router/src/blocker.router.test.ts
  packages/with-svelte-spa-router/src/blocker.svelte.ts
  packages/with-svelte-spa-router/src/blocker.test.ts
  packages/with-svelte-spa-router/src/router.svelte.test.ts
  packages/with-svelte-spa-router/src/router.svelte.ts
  packages/with-vue-router/src/router.keep-alive.test.ts
  packages/with-vue-router/src/router.test.ts
  packages/with-vue-router/src/router.ts
  packages/with-vue-router/src/utils/route-record.test.ts
  packages/with-vue-router/src/utils/route-record.ts
  stories/svelte/src/RouteBlocker.stories.ts
  stories/svelte/src/RouteBlocker.svelte
  stories/svelte/src/views/RouteBlockerContent.svelte
  stories/svelte/src/views/WarnUnsavedEditContent.svelte
  stories/vue/src/RouteBlocker.stories.ts
  stories/vue/src/views/RouteBlockerView.vue
  stories/vue/src/views/WarnUnsavedForm.vue
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/clone.test.ts
  packages/core/src/controller/clone.ts
Due: @ginjou/core

wip
  packages/svelte/src/router/route-blocker.svelte.test.ts
  packages/with-svelte-spa-router/src/blocker.test.ts
  packages/with-vue-router/src/router.ts
  packages/with-vue-router/src/utils/route-record.test.ts
  packages/with-vue-router/src/utils/route-record.ts
Due: none

wip
  packages/core/src/router/router-blocker.test.ts
  packages/core/src/router/router-blocker.ts
  packages/vue/src/router/route-blocker.ts
  packages/with-svelte-spa-router/src/blocker.svelte.ts
  packages/with-vue-router/src/router.ts
Due: @ginjou/core, @ginjou/vue

wip
  internals/storybook-shared/src/mock-data.ts
  stories/svelte/src/Form.stories.ts
  stories/svelte/src/FormClone.svelte
  stories/svelte/src/views/FormCloneContent.svelte
  stories/vue/src/Form.stories.ts
  stories/vue/src/FormClone.vue
Due: none

wip
  stories/svelte/src/views/FormCloneContent.svelte
  stories/svelte/src/views/FormCreateContent.svelte
  stories/svelte/src/views/FormEditContent.svelte
Due: none

feat(controller): add clone resource action (#135)
  internals/storybook-shared/src/mock-data.ts
  packages/core/src/controller/clone.test.ts
  packages/core/src/controller/clone.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/index.ts
  packages/core/src/controller/redirect-to.ts
  packages/core/src/controller/resource-action.ts
  packages/core/src/controller/resource-path.test.ts
  packages/core/src/controller/resource.test.ts
  packages/core/src/controller/resource.ts
  packages/core/src/controller/show.ts
  packages/core/src/router/navigate.test.ts
  packages/core/src/router/navigate.ts
  packages/nuxt/src/imports/async.ts
  packages/nuxt/src/imports/ginjou.test.ts
  packages/nuxt/src/imports/ginjou.ts
  packages/nuxt/src/runtime/composables/clone.ts
  packages/svelte/src/controller/clone.svelte.test.ts
  packages/svelte/src/controller/clone.svelte.ts
  packages/svelte/src/controller/index.ts
  packages/vue/src/controller/clone.test.ts
  packages/vue/src/controller/clone.ts
  packages/vue/src/controller/index.ts
  stories/svelte/src/Form.stories.ts
  stories/svelte/src/FormClone.svelte
  stories/svelte/src/views/FormCloneContent.svelte
  stories/svelte/src/views/FormCreateContent.svelte
  stories/vue/src/Form.stories.ts
  stories/vue/src/FormClone.vue
Due: @ginjou/core, @ginjou/vue

fix: separate infinite list query cache
  packages/core/src/query/get-infinite-list.test.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/invalidate.test.ts
  packages/core/src/query/invalidate.ts
  packages/svelte/src/query/get-infinite-list.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.ts
  packages/vue/src/query/get-infinite-list.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/query/get-infinite-list.test.ts
Due: @ginjou/core

fix: separate infinite list query cache (#155)
  packages/core/src/query/get-infinite-list.test.ts
  packages/core/src/query/get-infinite-list.ts
  packages/core/src/query/invalidate.test.ts
  packages/core/src/query/invalidate.ts
  packages/svelte/src/query/get-infinite-list.svelte.test.ts
  packages/svelte/src/query/get-infinite-list.svelte.ts
  packages/vue/src/query/get-infinite-list.ts
Due: @ginjou/core, @ginjou/vue

chore(release): @ginjou/core v0.1.0-beta.22
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: @ginjou/core

chore(release): @ginjou/with-supabase v0.1.0-beta.13
  packages/with-supabase/CHANGELOG.md
  packages/with-supabase/package.json
Due: none

chore(release): @ginjou/svelte v0.1.0-beta.4
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Due: none

chore(release): @ginjou/sync-route-compact v0.1.0-beta.2
  packages/sync-route-compact/CHANGELOG.md
  packages/sync-route-compact/package.json
Due: none

chore(release): @ginjou/with-rest-api v0.1.0-beta.11
  packages/with-rest-api/CHANGELOG.md
  packages/with-rest-api/package.json
Due: none

chore(release): @ginjou/with-directus v0.1.0-beta.16
  packages/with-directus/CHANGELOG.md
  packages/with-directus/package.json
Due: none

chore(release): @ginjou/vue v0.1.0-beta.20
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: @ginjou/vue

chore(release): @ginjou/with-svelte-spa-router v0.1.0-beta.3
  packages/with-svelte-spa-router/CHANGELOG.md
  packages/with-svelte-spa-router/package.json
Due: none

chore(release): @ginjou/with-vue-i18n v0.1.0-beta.10
  packages/with-vue-i18n/CHANGELOG.md
  packages/with-vue-i18n/package.json
Due: none

chore(release): @ginjou/with-vue-router v0.1.0-beta.11
  packages/with-vue-router/CHANGELOG.md
  packages/with-vue-router/package.json
Due: none

chore(release): @ginjou/nuxt v0.1.0-beta.17
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
Due: none

wip
  docs/content/1.guides/2.form.md
  docs/content/1.guides/8.router.md
  packages/core/src/controller/warn-unsaved.test.ts
  packages/core/src/controller/warn-unsaved.ts
  packages/core/src/router/router-blocker.test.ts
  packages/core/src/router/router-blocker.ts
  packages/svelte/src/controller/warn-unsaved.svelte.test.ts
  packages/svelte/src/controller/warn-unsaved.svelte.ts
  packages/svelte/src/router/route-blocker.svelte.ts
  packages/vue/src/controller/warn-unsaved.test.ts
  packages/vue/src/controller/warn-unsaved.ts
  packages/vue/src/router/route-blocker.test.ts
  packages/vue/src/router/route-blocker.ts
Due: @ginjou/core, @ginjou/vue

wip
  docs/content/1.guides/2.form.md
  docs/content/1.guides/8.router.md
  packages/core/src/controller/warn-unsaved.test.ts
  packages/core/src/controller/warn-unsaved.ts
  packages/core/src/router/router-blocker.test.ts
  packages/core/src/router/router-blocker.ts
  packages/core/src/router/router.ts
  packages/svelte/src/controller/warn-unsaved.svelte.test.ts
  packages/svelte/src/controller/warn-unsaved.svelte.ts
  packages/svelte/src/router/route-blocker.svelte.test.ts
  packages/svelte/src/router/route-blocker.svelte.ts
  packages/vue/src/controller/warn-unsaved.test.ts
  packages/vue/src/controller/warn-unsaved.ts
  packages/vue/src/router/route-blocker.test.ts
  packages/vue/src/router/route-blocker.ts
  packages/with-svelte-spa-router/src/blocker.router.test.ts
  packages/with-svelte-spa-router/src/blocker.svelte.ts
  packages/with-svelte-spa-router/src/blocker.test.ts
  packages/with-svelte-spa-router/src/router.svelte.test.ts
  packages/with-svelte-spa-router/src/router.svelte.ts
  packages/with-svelte-spa-router/test/BlockedPage.svelte
  packages/with-svelte-spa-router/test/BlockerApp.svelte
  packages/with-vue-router/src/router.test.ts
  packages/with-vue-router/src/router.ts
  packages/with-vue-router/src/utils/route-record.test.ts
  packages/with-vue-router/src/utils/route-record.ts
  stories/svelte/src/components/StoryShell.svelte
Due: @ginjou/core, @ginjou/vue

wip
  docs/content/1.guides/8.router.md
  docs/content/2.integrations/0.vue.md
  docs/content/2.integrations/2.svelte.md
  docs/content/3.adapters/.navigation.yml
  docs/content/3.adapters/0.vue-router.md
  docs/content/3.adapters/1.svelte-spa-router.md
  docs/content/4.backend/.navigation.yml
  docs/content/4.backend/0.directus.md
  docs/content/4.backend/1.supabase.md
  docs/content/4.backend/9.rest-api.md
  docs/content/5.ai/.navigation.yml
  docs/content/5.ai/0.skills.md
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/controller/warn-unsaved.test.ts
  packages/core/src/controller/warn-unsaved.ts
  packages/core/src/router/router-blocker.test.ts
  packages/core/src/router/router-blocker.ts
  packages/core/src/router/router.ts
  packages/svelte/src/controller/edit.svelte.ts
  packages/svelte/src/controller/warn-unsaved.svelte.ts
  packages/svelte/src/router/route-blocker.svelte.test.ts
  packages/svelte/src/router/route-blocker.svelte.ts
  packages/vue/src/controller/edit.ts
  packages/vue/src/controller/warn-unsaved.ts
  packages/vue/src/router/location.ts
  packages/vue/src/router/route-blocker.test.ts
  packages/vue/src/router/route-blocker.ts
  packages/with-svelte-spa-router/src/blocker.router.test.ts
  packages/with-svelte-spa-router/src/blocker.svelte.ts
  packages/with-svelte-spa-router/src/router.svelte.ts
  packages/with-vue-router/src/router.keep-alive.test.ts
  packages/with-vue-router/src/router.test.ts
  packages/with-vue-router/src/router.ts
Due: @ginjou/core, @ginjou/vue

wip
  packages/core/src/controller/edit.test.ts
  packages/core/src/router/router-blocker.test.ts
  packages/core/src/router/router-blocker.ts
  packages/core/src/router/router.ts
  packages/svelte/src/router/route-blocker.svelte.test.ts
  packages/svelte/src/router/route-blocker.svelte.ts
  packages/vue/src/router/route-blocker.test.ts
  packages/vue/src/router/route-blocker.ts
  packages/with-svelte-spa-router/src/blocker.router.test.ts
  packages/with-svelte-spa-router/src/blocker.test.ts
  packages/with-svelte-spa-router/src/router.svelte.test.ts
  packages/with-svelte-spa-router/test/BlockedPage.svelte
  packages/with-vue-router/src/router.keep-alive.test.ts
  packages/with-vue-router/src/router.test.ts
  packages/with-vue-router/src/router.ts
Due: @ginjou/core, @ginjou/vue

wip
  docs/content/1.guides/8.router.md
  packages/core/src/controller/edit.test.ts
  packages/core/src/controller/edit.ts
  packages/core/src/router/router-blocker.ts
  packages/svelte/src/controller/warn-unsaved.svelte.ts
  packages/svelte/src/router/route-blocker.svelte.test.ts
  packages/svelte/src/router/route-blocker.svelte.ts
  packages/vue/src/controller/warn-unsaved.ts
  packages/vue/src/router/route-blocker.ts
  packages/with-directus/src/fetcher.ts
  packages/with-svelte-spa-router/src/router.svelte.test.ts
  packages/with-svelte-spa-router/src/router.svelte.ts
Due: @ginjou/core, @ginjou/vue

wip
  docs/content/3.adapters/1.svelte-spa-router.md
  packages/core/src/controller/warn-unsaved.test.ts
  packages/core/src/controller/warn-unsaved.ts
  packages/svelte/src/controller/warn-unsaved.svelte.ts
  packages/vue/src/controller/warn-unsaved.ts
Due: @ginjou/core, @ginjou/vue

wip
  docs/content/1.guides/8.router.md
  docs/content/3.adapters/0.vue-router.md
  docs/content/3.adapters/1.svelte-spa-router.md
Due: none

wip
  skills/ginjou/SKILL.md
  skills/ginjou/references/forms/behavior.md
  skills/ginjou/references/forms/svelte.md
  skills/ginjou/references/forms/vue.md
  skills/ginjou/references/router/behavior.md
  skills/ginjou/references/router/nuxt.md
  skills/ginjou/references/router/svelte.md
  skills/ginjou/references/router/vue.md
  skills/ginjou/references/setup/nuxt.md
Due: none

wip
  skills/ginjou/references/forms/svelte.md
  skills/ginjou/references/forms/vue.md
Due: none

Path conditions:
  @ginjou/core: any of: packages/core/**
  @ginjou/vue: any of: packages/vue/**
